- var togglersRadio = [{index: 1, title: 'Все', checked: true},{index: 2, title: 'Шины'},{index: 3, title: 'Диски'},{index: 4, title: 'Мотошины'},{index: 5, title: 'Аккумуляторы'},{index: 6, title: 'Автозапчасти'},{index: 7, title: 'Масла'},{index: 8, title: 'Автотовары'},{index: 9, title: 'Скидки'},{index: 10, title: 'Хиты'},{index: 11, title: 'Шины на внедорожник'},{index: 12, title: 'Шины на газель'},{index: 13, title: 'Акции'}]
.mb-3
  .h2.font-weight-bold.mb-4 Часто выбирают:
  form.form.mb-3(action="#")
    .slides.slides_togglers.swiper-container
      +slidesNav('slides__btn_sm slides_togglers-prev','slides__btn_sm slides_togglers-next')
      .swiper-wrapper.px-3.px-lg-0
        each togglersRadio__item in togglersRadio
          .swiper-slide
            +radio(togglersRadio__item.index, togglersRadio__item.title, togglersRadio__item.checked)
    .slides.slides_grid.swiper-container.pt-1.pb-4
      +slidesNav
      .swiper-wrapper
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice','',false,false,false,false,false,true,true,true,'card_sm d-flex')
        .swiper-slide
          +card('12 337.12','','Зимние шины Yokohama Ice Guard IG55','',false,false,false,false,false,true,true,true,'card_sm d-flex')
        .swiper-slide
          +banner('content/banners/banner-3.jpg')
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL','sale',false,false,true,false,false,false,false,true,'card_sm d-flex')
        .swiper-slide
          +banner('content/banners/banner-4.jpg')
        .swiper-slide
          +card('12 337.12','','Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL','discount',true,true,false,false,false,false,false,true,'card_sm d-flex')
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice Guard IG55 215/55','hit',false,false,false,true,true,false,false,true,'card_sm d-flex')
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL','sale',false,false,false,false,true,false,false,true,'card_sm d-flex')
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice Guard IG55 215/55 R17','sale',false,false,false,true,false,false,false,true,'card_sm d-flex')
        .swiper-slide
          +card('','','Зимние шины Yokohama Ice','',false,false,false,false,false,true,true,true,'card_sm d-flex')
        .swiper-slide
          +card('','14 000','Шины Yokohama Ice Guard IG55 215/55 R17 98T','',false,false,false,false,false,false,false,true,'card_sm d-flex')
