.icons.d-none
header.header
  .header__top.zi-2
    .wrapper.d-flex.flex-wrap.align-items-center
      .col-xl-6.col-lg-12.col-8.d-flex.align-items-center.justify-content-xl-start.justify-content-lg-between.mb-xl-0.mb-lg-2
        .contacts.d-flex.align-items-center.justify-content-lg-between.col-xl-7.col-lg-5.w-auto.px-0
          .contacts__item.d-flex.align-items-center.h5.text-nowrap.mr-4
            +icon('placemark','contacts__icon h3 color-theme-brand mr-lg-2')
            span.d-none.d-lg-block г. Ростов-на-Дону
          a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mr-4(href="#")
            +icon('phone','contacts__icon h3 color-theme-brand mr-lg-2')
            span.d-none.d-lg-block +7 (365) 277-70-68
        nav.social.d-flex.align-items-center
          a.social__item.color-theme-brand.mr-4.mr-lg-3(href="#")
            +icon('wapp-filled','h3')
          a.social__item.color-theme-brand(href="#")
            +icon('tg-filled','h3')
      .col-xl-5.col-lg-10.d-none.d-lg-block
        nav.header__nav.d-flex.align-items-center.justify-content-xl-end
          a.header__nav-item.mr-4(href="#") Скидки и акции
          a.header__nav-item.mr-4(href="#") Бонусные рубли
          a.header__nav-item(href="#") Контакты
      .col-xl-1.col-lg-2.col-4.d-flex.align-items-xl-start.justify-content-end
        .menu
          button.menu__title.theme-hover.d-flex.align-items-center.zi-2(type="button")
            span.mr-1 Помощь
            +icon('dropdown','menu__icon h6')
          .menu__wrapper.pt-2
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") О компании
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Новости
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Статьи
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Вопросы и ответы
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Оплата и доставка
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Кредит
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") КупиВкредит
            a.h6.d-block.theme-hover.zi-2.mb-2(href="#") Политика конфиденциальности
  .header__wrapper
    .header__col.header__col_logo.col-xl-4.col-lg-5.mb-3
      a.logo.color-theme-brand.mr-4(href="#")
        +svg('logo')
      nav.header__nav.d-flex.align-items-center.justify-content-center
        button.header__btn.header__btn_type_toggler.text-uppercase.mr-3(type="button" data-target="#categories")
          +icon('menu','header__btn-icon header__btn-icon_show mr-sm-2')
          +icon('close','header__btn-icon header__btn-icon_close mr-sm-2')
          span.d-none.d-sm-block.pointer-events-none Каталог
        button.header__btn.header__btn_type_toggler.text-uppercase(type="button" data-target="#services")
          +icon('services','header__btn-icon header__btn-icon_show mr-sm-2')
          +icon('close','header__btn-icon header__btn-icon_close mr-sm-2')
          span.d-none.d-sm-block.pointer-events-none Услуги
        .panel
          #services.panel__wrapper
            button.panel__close.d-flex.align-items-center.d-xl-none.bg-theme-brand.color-theme-white(type="button")
              +icon('close','h3 mr-2')
              span.h4.text-uppercase услуги
            .wrapper
              .row
                .panel__nav.border-0.col-xl-4
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-tires','h3 color-theme-brand mr-2')
                    span.h4 Шиномонтаж
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-store','h3 color-theme-brand mr-2')
                    span.h4 Сезонное хранение шин и дисков
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-aircond','h3 color-theme-brand mr-2')
                    span.h4 Заправка автокондиционеров
                .panel__nav.border-0.col-xl-4.mb-5.mb-xl-0
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-wheel-rolled','h3 color-theme-brand mr-2')
                    span.h4 Прокатка дисков
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-wheel-painted','h3 color-theme-brand mr-2')
                    span.h4 Покраска дисков
                  a.panel__nav-link.panel__nav-link_type_btn.d-flex.align-items-center.px-3.mb-xl-3(href="#")
                    +icon('services-vin','h3 color-theme-brand mr-2')
                    span.h4 Подбор по VIN
                .col-xl-4
                  .banner.banner_xs.overflow-hidden.mb-4.mb-xl-0
                    +img('content/banners/banner-1.jpg','img-cover')
                    .banner__inner.d-flex.flex-column.align-items-start.justify-content-between.p-4
                      .banner__title.h2.font-weight-bold.color-theme-brand Запись на шиномонтаж онлайн
                      a.btn.text-uppercase(href="#") Записаться

          #categories.panel__wrapper
            button.panel__close.d-flex.align-items-center.d-xl-none.bg-theme-brand.color-theme-white(type="button")
              +icon('close','h3 mr-2')
              span.h4.text-uppercase каталог
            .wrapper
              .row.align-items-start
                .panel__nav.col-xl-2.pr-xl-2
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#tires")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.panel__nav-link_active.px-3.py-xl-2.mr-1(href="#")
                      +icon('tires','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Автошины
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#moto")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.px-3.py-xl-2.mr-1(href="#")
                      +icon('moto','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Мотошины
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#wheels")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.px-3.py-xl-2.mr-1(href="#")
                      +icon('wheels','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Диски
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#battery")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.px-3.py-xl-2.mr-1(href="#")
                      +icon('battery','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Аккумуляторы
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#detail")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.px-3.py-xl-2.mr-1(href="#")
                      +icon('detail','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Автотовары
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item.px-3.px-xl-0.py-2.py-xl-0.mb-xl-1(data-target="#oil")
                    a.panel__nav-link.overflow-hidden.d-flex.align-items-center.flex-grow-1.px-3.py-xl-2.mr-1(href="#")
                      +icon('oil','h3 color-theme-brand mr-2')
                      span.panel__nav-title.h4 Масла
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                - var logolist = [{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'}]
                #tires.panel__grid.panel__grid_active.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители автошин:
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                    .panel__subcategory.mb-4.mb-xl-0
                      each logolist__item in logolist
                        a.brand.brand_border_bottom.d-flex.align-items-center.justify-content-around.d-xl-inline-block.px-3.py-2.p-xl-0.mr-xl-3.mb-xl-4(href="#")
                          span.d-inline-block.pl-3.pr-1.px-xl-0
                            +img(logolist__item.img)
                          span.h5.text-nowrap.d-block.d-xl-none!= logolist__item.title
                    .text-center.d-none.d-xl-block
                      a.readmore(href="#")
                        span.mr-2.pointer-events-none Показать еще
                        +icon('readmore','readmore__icon h3 color-theme-brand')
                  .panel__aside.px-3.px-xl-4
                    .mb-4
                      a.toggler.py-1(href="#") Зимние шины
                      a.toggler.py-1(href="#") Летние шины
                      a.toggler.py-1(href="#") Шины для внедорожников
                      a.toggler.py-1(href="#") Всесезонные шины
                      a.toggler.py-1(href="#") Шины на Газель
                    .banner.banner_sm.overflow-hidden.mb-4.mb-xl-0
                      +img('content/banners/banner-2.jpg','img-cover')
                      .banner__inner.p-4.d-flex.flex-column.align-items-center.justify-content-between
                        .banner__title.h2.font-weight-bold.color-theme-white Подбор запчастей по VIN-коду
                        a.btn.text-uppercase(href="#") Подобрать
                #moto.panel__grid.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители мотошин:
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                    .panel__subcategory.mb-4.mb-xl-0
                      each logolist__item in logolist
                        a.brand.brand_border_bottom.d-flex.align-items-center.justify-content-around.d-xl-inline-block.px-3.py-2.p-xl-0.mr-xl-3.mb-xl-4(href="#")
                          span.d-inline-block.pl-3.pr-1.px-xl-0
                            +img(logolist__item.img)
                          span.h5.text-nowrap.d-block.d-xl-none!= logolist__item.title
                    .text-center.d-none.d-xl-block
                      a.readmore(href="#")
                        span.mr-2.pointer-events-none Показать еще
                        +icon('readmore','readmore__icon h3 color-theme-brand')
                  .panel__aside.px-3.px-xl-4
                    .mb-4
                      a.toggler.py-1(href="#") Летние шины
                      a.toggler.py-1(href="#") Шины для внедорожников
                      a.toggler.py-1(href="#") Зимние шины
                      a.toggler.py-1(href="#") Всесезонные шины
                    .banner.banner_sm.overflow-hidden.mb-4.mb-xl-0
                      +img('content/banners/banner-2.jpg','img-cover')
                      .banner__inner.p-4.d-flex.flex-column.align-items-center.justify-content-between
                        .banner__title.h2.font-weight-bold.color-theme-white Подбор запчастей по VIN-коду
                        a.btn.text-uppercase(href="#") Подобрать
                #wheels.panel__grid.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители дисков
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #battery.panel__grid.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители аккумуляторов
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #detail.panel__grid.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители автотоваров
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #oil.panel__grid.col-xl-10
                  .panel__content.px-xl-4
                    .h4.mb-4.d-none.d-xl-block Производители масел
                    button.panel__toggler.d-flex.align-items-center.d-xl-none.px-3.py-2.border-bottom(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
    .col-xl-8.col-lg-7.d-flex.flex-wrap.align-items-center.mb-3
      .header__col.header__col_search.header__col_search_wide
        form.header__search(action="#" method="post")
          input.header__search-field(type="text" placeholder="Я ищу..." value="")
          button.header__search-btn.header__search-btn_close(type="reset")
            +icon('close-noborder')
          button.header__search-btn(type="submit")
            +icon('search')
          .header__search-dropdown
            .header__search-section
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman 5 195/65 R15 95T XL
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") Летние шины Nokian Nordman SX2 195/65 R15 91H
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman 7 195/65 R15 95T XL
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman RS2 205/55 R16 94R XL
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") 185/65/15 NORDMAN RS-2 XL R*
                  span.h6.color-theme-disabled 3 630.90 ₽
              a.h5.color-theme-brand(href="#") показать все товары (54) &gt;
            .header__search-section
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-7
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") NOKIAN RS2
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-7 SUV
                  span.h6.color-theme-disabled 3 630.90 ₽
              .header__search-row.mb-2
                .header__search-picture.mr-2
                  a(href="#")
                    +img('content/cards/card-1.jpg')
                .header__search-desc.flex-grow-1
                  a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-8
                  span.h6.color-theme-disabled 3 630.90 ₽
            .header__search-section
              a.h5.d-block.mb-4(href="#") Зимние шины
              a.h5.d-block.mb-4(href="#") Шины для внедорожника
              a.h5.d-block.mb-4(href="#") Шины на газель
              a.h5.d-block.mb-4(href="#") Шипованые шины
              a.h5.d-block(href="#") Автошторки
      .header__col.header__col_nav.flex-grow-1.flex-xl-grow-0
        block profile
          nav.header__nav.d-flex.align-items-center.justify-content-lg-start.justify-content-between.flex-grow-1.mr-lg-4
            button.header__nav-item.header__nav-item_col.header__nav-item_search.d-flex.flex-column.text-center.text-nowrap.d-xl-none(type="button")
              span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center.pointer-events-none
                +icon('search')
              span.header__btn-title.pointer-events-none Поиск
            .pos-rel.col-xl-3
              a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap(href="#")
                span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                  +icon('compare')
                span.header__btn-title Сравнить
            .pos-rel.col-xl-3
              a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap(href="#")
                span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                  +icon('car')
                span.header__btn-title Выбор авто
            .pos-rel.col-xl-3
              a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap(href="#")
                span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                  +icon('case')
                span.header__btn-title Заказы
            .pos-rel.col-xl-3
              .header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap
                .header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                  +icon('user')
                .d-flex.justify-content-center
                  button.theme-hover.d-none.d-lg-block.btn-unstyled(type="button" data-toggle="modal" data-target="#auth") Вход |
                  button.header__btn-title.btn-unstyled(type="button" data-toggle="modal" data-target="#reg")  регистрация
          .pos-rel
            a.header__btn.header__btn_inverse(href="#")
              +icon('cart','header__btn-icon d-block')
  .header__bottom
    nav.topmenu.swiper-container
      .topmenu__wrapper.swiper-wrapper
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Автошины
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Мотошины
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Диски
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Аккумуляторы
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Масла
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Автотовары
        .swiper-slide.w-auto
          a.theme-hover.d-inline-block.mr-3(href="#") Шиномонтаж
  block filter
