.icons.d-none

.top-panel.popup-holder
  .top-panel__wrapper.wrapper
    .top-panel__contacts.col-xl-6.col-lg-12.col-md-8.px-0.px-lg-1
      .contacts.contacts_type_row.col-xl-7.col-lg-5.flex-grow-1.flex-md-grow-0.w-auto.px-0
        .contacts__item.contacts__item_fs_sm.text-nowrap.popup-toggler.mr-4(data-target="#location")
          +icon('placemark','contacts__icon h3 color-theme-brand mr-lg-2')
          span.theme-hover.d-md-none.d-lg-block.pointer-events-none г. Ростов-на-Дону
          #location.popup.popup_width_md.popup_type_plain.popup_pos_left.box-shadow.border-radius
            .popup__triangle.bg-theme-white.box-shadow
            button.popup__close.popup__close_type_btn.button-unstyled.rounded-circle.bg-theme-white(type="button")
              +icon('close','h3 color-theme-brand')
            .search-holder.bg-theme-white.border-radius.overflow-hidden.zi-2.px-4.pt-4.pb-2
              .d-flex.align-items-start.justify-content-between.mb-4
                .h5.text-left.color-theme-brand Выберите свой город и пользоваться сайтом станет удобнее
              form.search.search_border_rounded(action="#" method="post")
                input.search__field(type="text" value="" placeholder="Я ищу...")
                button.search__btn.search__btn_type_reset(type="reset")
                  +icon('close-noborder')
                button.search__btn.search__btn_type_submit(type="submit")
                  +icon('search','h4')
              .search-dropdown.search-dropdown_pos_stat
                .search-dropdown__wrapper
                  .search-dropdown__section
                    a.h5.d-block.mb-3(href="#") Санкт-Петербург (Ленинградская обл.)
                    a.h5.d-block.mb-3(href="#") Самара (Самарская обл.)
                    a.h5.d-block.mb-3(href="#") Самарское (Ростовская обл.)
                    a.h5.d-block.mb-3(href="#") Саратов (Саратовская обл.)
                    a.h5.d-block.mb-3(href="#") Саранск (Нижегородская обл.)
                    a.h5.d-block(href="#") Сальск (Ростовская обл.)
              .row.mt-4
                .col-6.mb-4
                  a.h6(href="#") Ростов-на-Дону
                .col-6.mb-4
                  a.h6(href="#") Краснодар
                .col-6.mb-4
                  a.h6(href="#") Сочи
                .col-6.mb-4
                  a.h6(href="#") Ставрополь
        a.contacts__item.h5.text-nowrap.mr-4(href="#")
          +icon('phone','contacts__icon h3 color-theme-brand mr-lg-2')
          span.d-none.d-lg-block +7 (863) 22-99-99-4
      nav.social.d-flex.align-items-center
        a.social__item.color-theme-brand.mr-4.mr-lg-3(href="#")
          +icon('wapp-filled','h3')
        a.social__item.color-theme-brand(href="#")
          +icon('tg-filled','h3')
    nav.top-panel__nav.col-xl-5.col-lg-10
      a.mr-4(href="#") Скидки и акции
      a.mr-4(href="#") Бонусные рубли
      a(href="#") Контакты
    nav.navbar.col-xl-1.col-lg-2.col-md-4
      button.navbar__title(type="button")
        span.mr-1 Помощь
        +icon('dropdown','navbar__icon')
      .navbar__wrapper
        a.navbar__link(href="#") О компании
        a.navbar__link(href="#") Новости
        a.navbar__link(href="#") Статьи
        a.navbar__link(href="#") Вопросы и ответы
        a.navbar__link(href="#") Оплата и доставка
        a.navbar__link(href="#") Кредит
        a.navbar__link(href="#") КупиВкредит
        a.navbar__link(href="#") Политика конфиденциальности

header.header
  .header__wrapper.wrapper
    .header__col.header__col_side_left.col-xl-4.col-lg-5.px-0.px-lg-1
      a.logo.logo_place_header.color-theme-brand.mr-4(href="#")
        +svg('logo')
      .header__togglers
        block btns
          button.header__btn.header__btn_type_toggler.text-uppercase.mr-3(type="button" data-target="#categories")
            +icon('menu','header__btn-icon header__btn-icon_show')
            +icon('close','header__btn-icon header__btn-icon_close')
            span.header__btn-title Каталог
          button.header__btn.header__btn_type_toggler.text-uppercase(type="button" data-target="#services")
            +icon('services','header__btn-icon header__btn-icon_show')
            +icon('close','header__btn-icon header__btn-icon_close')
            span.header__btn-title Услуги
        .panel
          #services.panel__wrapper
            button.panel-close-btn(type="button")
              +icon('close','h3 mr-2')
              span.h4.text-uppercase услуги
            .wrapper
              .row
                .panel__nav.border-0.col-xl-4
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-tires','h3 color-theme-brand mr-2')
                    span.h4 Шиномонтаж
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-store','h3 color-theme-brand mr-2')
                    span.h4 Сезонное хранение шин и дисков
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-aircond','h3 color-theme-brand mr-2')
                    span.h4 Заправка автокондиционеров
                .panel__nav.col-xl-4.border-0.mb-5.mb-xl-0
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-wheel-rolled','h3 color-theme-brand mr-2')
                    span.h4 Прокатка дисков
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-wheel-painted','h3 color-theme-brand mr-2')
                    span.h4 Покраска дисков
                  a.panel__nav-link.panel__nav-link_type_plain(href="#")
                    +icon('services-vin','h3 color-theme-brand mr-2')
                    span.h4 Подбор по VIN
                .col-xl-4
                  .banner.banner_xs.overflow-hidden.mb-4.mb-xl-0
                    +img('content/banners/banner-1.jpg','img-cover')
                    .banner__inner.d-flex.flex-column.align-items-start.justify-content-between.p-4
                      .banner__title.h2.font-weight-bold.color-theme-brand Запись на шиномонтаж онлайн
                      a.button.text-uppercase(href="#") Записаться
          #categories.panel__wrapper
            button.panel-close-btn(type="button")
              +icon('close','h3 mr-2')
              span.h4.text-uppercase каталог
            .wrapper
              .row.align-items-start
                .panel__nav.col-xl-2.pr-xl-2
                  .panel__nav-item(data-target="#tires")
                    a.panel__nav-link.panel__nav-link_type_btn.panel__nav-link_active(href="#")
                      +icon('tires','h3 color-theme-brand mr-2')
                      span.panel__nav-title Автошины
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item(data-target="#moto")
                    a.panel__nav-link.panel__nav-link_type_btn(href="#")
                      +icon('moto','h3 color-theme-brand mr-2')
                      span.panel__nav-title Мотошины
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item(data-target="#wheels")
                    a.panel__nav-link.panel__nav-link_type_btn(href="#")
                      +icon('wheels','h3 color-theme-brand mr-2')
                      span.panel__nav-title Диски
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item(data-target="#battery")
                    a.panel__nav-link.panel__nav-link_type_btn(href="#")
                      +icon('battery','h3 color-theme-brand mr-2')
                      span.panel__nav-title Аккумуляторы
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item(data-target="#detail")
                    a.panel__nav-link.panel__nav-link_type_btn(href="#")
                      +icon('detail','h3 color-theme-brand mr-2')
                      span.panel__nav-title Автотовары
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                  .panel__nav-item(data-target="#oil")
                    a.panel__nav-link.panel__nav-link_type_btn(href="#")
                      +icon('oil','h3 color-theme-brand mr-2')
                      span.panel__nav-title Масла
                    button.panel__nav-btn(type="button")
                      +icon('arrow-right','color-theme-brand')
                - var logolist = [{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'},{title:'Название бренда', img:'content/logo/logo-1.jpg'},{title:'Название бренда', img:'content/logo/logo-2.jpg'},{title:'Название бренда', img:'content/logo/logo-3.jpg'},{title:'Название бренда', img:'content/logo/logo-4.jpg'},{title:'Название бренда', img:'content/logo/logo-5.jpg'}]
                #tires.panel__grid.panel__grid_active.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители автошин:
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                    .panel__subcategory.mb-4.mb-xl-0
                      each logolist__item in logolist
                        a.brand.brand_border_bottom.d-flex.align-items-center.justify-content-around.d-xl-inline-block.px-3.py-2.p-xl-0.mr-xl-3.mb-xl-4(href="#")
                          span.d-inline-block.pl-3.pr-1.px-xl-0
                            +img(logolist__item.img)
                          span.h5.text-nowrap.d-block.d-xl-none!= logolist__item.title
                    .text-center.d-none.d-xl-block
                      a.readmore(href="#")
                        span.mr-2.pointer-events-none Показать еще
                        +icon('readmore','readmore__icon h3 color-theme-brand')
                  .panel__aside
                    .mb-4
                      a.toggler.py-1(href="#") Зимние шины
                      a.toggler.py-1(href="#") Летние шины
                      a.toggler.py-1(href="#") Шины для внедорожников
                      a.toggler.py-1(href="#") Всесезонные шины
                      a.toggler.py-1(href="#") Шины на Газель
                    .banner.banner_sm.overflow-hidden.mb-4.mb-xl-0
                      +img('content/banners/banner-2.jpg','img-cover')
                      .banner__inner.d-flex.flex-column.align-items-center.justify-content-between.p-4
                        .banner__title.h2.font-weight-bold.color-theme-white Подбор запчастей по VIN-коду
                        a.button.text-uppercase(href="#") Подобрать
                #moto.panel__grid.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители мотошин:
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                    .panel__subcategory.mb-4.mb-xl-0
                      each logolist__item in logolist
                        a.brand.brand_border_bottom.d-flex.align-items-center.justify-content-around.d-xl-inline-block.px-3.py-2.p-xl-0.mr-xl-3.mb-xl-4(href="#")
                          span.d-inline-block.pl-3.pr-1.px-xl-0
                            +img(logolist__item.img)
                          span.h5.text-nowrap.d-block.d-xl-none!= logolist__item.title
                    .text-center.d-none.d-xl-block
                      a.readmore(href="#")
                        span.mr-2.pointer-events-none Показать еще
                        +icon('readmore','readmore__icon h3 color-theme-brand')
                  .panel__aside
                    .mb-4
                      a.toggler.py-1(href="#") Летние шины
                      a.toggler.py-1(href="#") Шины для внедорожников
                      a.toggler.py-1(href="#") Зимние шины
                      a.toggler.py-1(href="#") Всесезонные шины
                    .banner.banner_sm.overflow-hidden.mb-4.mb-xl-0
                      +img('content/banners/banner-2.jpg','img-cover')
                      .banner__inner.d-flex.flex-column.align-items-center.justify-content-between.p-4
                        .banner__title.h2.font-weight-bold.color-theme-white Подбор запчастей по VIN-коду
                        a.button.text-uppercase(href="#") Подобрать
                #wheels.panel__grid.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители дисков
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #battery.panel__grid.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители аккумуляторов
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #detail.panel__grid.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители автотоваров
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
                #oil.panel__grid.col-xl-10
                  .panel__content
                    .h4.mb-4.d-none.d-xl-block Производители масел
                    button.panel__toggler(type="button")
                      +icon('arrow-left','h6 color-theme-brand pl-3 mr-2')
                      span.h5 Назад
    .header__col.header__col_side_right.search-holder.col-xl-8.col-lg-7
      .search-panel
        .search-panel__wrapper
          button.panel-close-btn(type="button")
            +icon('close','h3 mr-2')
            span.h4.text-uppercase.pointer-events-none Поиск
          form.search(action="#" method="post")
            input.search__field(type="text" value="" placeholder="Я ищу...")
            button.search__btn.search__btn_type_reset(type="reset")
              +icon('close-noborder')
            button.search__btn.search__btn_type_submit(type="submit")
              +icon('search','h4')
          .search-dropdown
            .search-dropdown__wrapper
              .search-dropdown__section
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman 5 195/65 R15 95T XL
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") Летние шины Nokian Nordman SX2 195/65 R15 91H
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman 7 195/65 R15 95T XL
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") Зимние шины Nokian Nordman RS2 205/55 R16 94R XL
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") 185/65/15 NORDMAN RS-2 XL R*
                    span.h6.color-theme-disabled 3 630.90 ₽
                a.h5.color-theme-brand(href="#") показать все товары (54) &gt;
              .search-dropdown__section
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-7
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") NOKIAN RS2
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-7 SUV
                    span.h6.color-theme-disabled 3 630.90 ₽
                .search-dropdown__row.mb-2
                  .search-dropdown__picture.mr-2
                    a(href="#")
                      +img('content/cards/card-1.jpg')
                  .search-dropdown__desc.flex-grow-1
                    a.h5.d-block.mb-1(href="#") NOKIAN NORDMAN-8
                    span.h6.color-theme-disabled 3 630.90 ₽
              .search-dropdown__section
                a.h5.d-block.mb-4(href="#") Зимние шины
                a.h5.d-block.mb-4(href="#") Шины для внедорожника
                a.h5.d-block.mb-4(href="#") Шины на газель
                a.h5.d-block.mb-4(href="#") Шипованые шины
                a.h5.d-block(href="#") Автошторки
      .header__bottom-panel
        block profile
          .header__navbar
            button.header__navbar-item.header__navbar-item_toggler_search(type="button")
              span.header__navbar-icon.pointer-events-none
                +icon('search')
              span.header__navbar-caption.pointer-events-none Поиск
            .header__navbar-item
              span.header__navbar-icon
                +icon('compare')
              span.header__navbar-caption Сравнить
            .header__navbar-item
              span.header__navbar-icon
                +icon('car')
              span.header__navbar-caption Выбор авто
            .header__navbar-item
              span.header__navbar-icon
                +icon('case')
              span.header__navbar-caption Заказы
            button.header__navbar-item(data-toggle="modal" data-target="#auth-phone" type="button")
              span.header__navbar-icon
                +icon('user')
              span.header__navbar-caption Вход | регистрация
          .header__aside
            a.header__btn.header__btn_place_panel(href="#")
              span.header__btn-icon.header__btn-icon_type_holder
                +icon('cart')
              span.header__btn-title Корзина

nav.topmenu
  .topmenu__wrapper.wrapper.swiper-container
    ul.swiper-wrapper.justify-content-between(itemscope itemtype="https://schema.org/SiteNavigationElement")
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Автошины
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Мотошины
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Диски
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Аккумуляторы
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Масла
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Автотовары
      li.swiper-slide.w-auto
        a.topmenu__link.mr-3(href="#" itemprop="url")
          span(itemprop="name") Шиномонтаж

block filter
