.accordion {
  border-radius: .5rem;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .16);

  &.active {
    padding: 0 0 1.625rem;

    .accordion__header {
      @include py(1rem,.75rem);
      margin: 0 0 1.5rem;
      border-color: $color__border;
    }

    .accordion__toggler {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0;
      }
    }

    .accordion__body {
      display: block;
    }
  }
}

.accordion__header {
  @include py(.5rem);
  @include border(0 0 1px,rgba(0,0,0,0));
  cursor: pointer;
  //transition: all .3s ease;
}

.accordion__toggler {
  width: 100%;
  pointer-events: none;
}

.accordion__body {
  display: none;
  transition: all .3s ease;
}
