.banner {
  position: relative;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

  @include media-breakpoint-up(lg) {
    height: 100%;
  }

  &.banner_carousel {
    border-radius: 0;
    box-shadow: none;
  }

  &.banner_noshadow {
    border-radius: 0;
    box-shadow: none;
  }
}

.banner__inner {
  @include pos(0,0);
  right: 0;
  bottom: 0;

  &.banner__inner_offset {
    padding: 2rem;

    @include media-breakpoint-only(lg) {
      @include px(1rem);
    }
  }
}

.banner__title {
  word-break: break-word;

  &.banner__title_sm {
    @include media-breakpoint-down(sm) {
      @include fs-lh(1.75rem,2rem);
    }
  }
}
