.booking-heading {
  pointer-events: none;

  &.booking-heading_active {
    cursor: pointer;
    pointer-events: all;

    .booking-heading__counter {
      background-color: $color__blue;
    }

    .booking-heading__title {
      color: $color__text_default;
    }

    .booking-heading__arrow {
      display: block;
    }
  }

  &.booking-heading_checked {
    .booking-heading__arrow {
      display: none;
    }

    .booking-heading__btn {
      display: block;
    }
  }
}

.booking-heading__counter {
  @include wh(22px);
  @include fw(22px);
  background-color: $color__border;
}

.booking-heading__title {
  color: $color__border;
}

.booking-heading__arrow {
  display: none;
}

.booking-heading__btn {
  display: none;
}
