.brand {
  height: 100px;
  border-radius: .5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);

  &.brand_slide {
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 152px;
    }
  }

  &.brand_category {
    @include media-breakpoint-down(md) {
      height: auto;
      flex-direction: row;
    }
  }
}

.brand__title {
  @include fs-lh(1rem,1.5rem);
}
