.brand {
  height: 100px;
  border-radius: .5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);

  &.brand_slide {
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 152px;
    }
  }

  &.brand_category {
    @include media-breakpoint-down(md) {
      height: auto;
      flex-direction: row;
    }
  }

  &.brand_border_bottom {
    height: auto;
    border-radius: 0;
    box-shadow: none;

    @include media-breakpoint-down(lg) {
      @include border(0 0 1px,$color__border);
    }
  }
}

.brand__title {
  @include fs-lh(1rem,1.5rem);
}

.brand__desc {
  line-height: 1.5em;
}
