.button {
  @extend %btn-default;
  @extend %btn-theme;
  @include border(1px,rgba(0,0,0,0));
  padding: .25rem .75rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.button_bordered {
    border-color: #fcfcfc;
  }

  &.button_nobg {
    @extend %theme-hover;
    box-shadow: none;
    background: none;
  }

  &.button_sm {
    height: 26px;
    border-radius: .25rem;
  }

  &:disabled {
    cursor: default;
  }
}

.button-unstyled {
  @extend %btn-default;
}

.button__icon {
  @include fw(14px);
  //@include wh(14px,18px);
}
