.btn {
  @extend %btn-default;
  @extend %btn-theme;
  padding: .25rem .75rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn_bordered {
    border: 1px solid #fcfcfc;
  }

  &.btn_nobg {
    box-shadow: none;
    background: none;
    color: $color__text_default;
  }
}

.btn-unstyled {
  @extend %btn-default;
}

.btn__icon {
  @include fw(14px);
  //@include wh(14px,18px);
}
