.category-menu {

}

.category-menu__item {
  @include border(0 0 1px,$color__light);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;

  &.category-menu__item_current {
    border-color: $color__blue;
    background-color: $color__blue;

    .category-menu__title {
      color: #fff;
    }

    .category-menu__toggler {
      color: #fff;
    }
  }

  &.category-menu__item_active {
    border-color: $color__blue;
    background-color: $color__blue;

    .category-menu__toggler {
      color: #fff;
      transform: rotate(90deg);
    }

    .category-menu__title {
      color: #fff;
    }

    & + .category-menu__dropdown {
      opacity: 1;
    }
  }
}

.category-menu__title {
  padding: .125rem 0 .125rem 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease;
}

.category-menu__toggler {
  padding: .5rem 1rem;
  color: $color__blue;
  transition: all .3s ease;
}

.category-menu__dropdown {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.category-menu__link {
  @include h5;
  @include border(0 0 1px,$color__blue);
  min-height: 50px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color__light;
}
