.dropdown {
  @extend %zi-1;

  &.show {
    z-index: 2;
  }
}

.dropdown-toggle {
  @extend .fs-dropdown-selected;
  color: $color__text_default;

  &[disabled] {
    opacity: .5;
  }
}

.dropdown-menu {
  display: none;
  overflow: hidden;
  padding: .75rem 1rem;
  border-radius: .25rem;
  background: #fff;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

  &.show {
    right: 0;
    display: block;
  }

  &[x-placement="bottom-start"] {
    transform: none !important;
  }

  &[x-placement="top-start"] {
    top: auto !important;
  }
}

.dropdown__field {
  @include h6;
  @include wh(100%,25px);
  border: 0;
  padding: .125rem .375rem;
  border-radius: .5rem;
  background: $color__light;
}

.dropdown-menu__list {
  @extend %list-default;
  height: 100%;
  max-height: 184px;
  margin: 0 -1rem;
  overflow: auto;

  @include media-breakpoint-up(md) {
    margin-right: -2rem;
  }
}

.dropdown-menu__list-item {
}

.dropdown-menu__list-option {
  @extend .fs-dropdown-item;
  border-radius: 0 !important;
  background-color: rgba(0,0,0,0);

  &:hover,
  &:focus {
    color: $color__brand;
  }

  &.selected {
    @extend .fs-dropdown-item.fs-dropdown-item_selected;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
