.feature {
  @include media-breakpoint-up(lg) {
    margin: 0 0 24px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 40px;
  }
}

.feature__value {
  @include fs-lh(3rem,3.25rem);
  font-weight: bold;
  color: $color__brand;

  .text-sm {
    @include h1;
  }
}

.feature__title {
  @include h4;
}
