.feature {
    @include media-breakpoint-up(lg) {
        margin: 0 0 24px;
    }

    @include media-breakpoint-down(md) {
        margin: 0 0 40px;
    }
}

.feature__value {
    @include fs-lh(48px,52px);
    font-weight: bold;
    color: $color__brand;

    .text-sm {
        @include fs-lh(36px,40px);
    }
}

.feature__title {
    @include fs-lh(16px,18px);
}