.filter {
  transition: all .3s ease;

  &.filter_sticky {
    @include media-breakpoint-up(lg) {
      position: static;
    }

    @include media-breakpoint-down(md) {
      @include pos(0,0,fixed);
      right: 0;
      padding: 0;
      z-index: 1080;
      background: rgba(0,0,0,0);
    }
  }
}

.filter__body {
  transition: all .3s ease;

  @include media-breakpoint-up(lg) {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    @include pos(0,0);
    right: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.filter-toggler {
  @extend %btn-default;
  @include wh(100%,40px);
  background: $color__light;
  color: $color__text_default;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .12) inset;
}

.filter-toggler__icon {
  @include fw(18px);
  //@include wh(18px);
  pointer-events: none;
}

.filter-toggler__title {
  pointer-events: none;
}

.filter-toggler__hide {
  display: none;
}

.filter-visible {
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }

  .filter_sticky {
    @include media-breakpoint-down(md) {
      bottom: 0;
    }
  }

  .filter-toggler {
    color: #fff;
    background: $color__brand;
  }

  .filter-toggler__show {
    display: none;
  }

  .filter-toggler__hide {
    display: inline;
  }

  .filter__body {
    @include media-breakpoint-down(md) {
      opacity: 1;
      height: auto;
      overflow: auto;
      visibility: visible;
    }
  }
}

.filter__alert {
  z-index: 2;

  @include media-breakpoint-up(lg) {
    @include pos(auto,0);
    right: 0;
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
