.filter {
  transition: all .3s ease;

  /*
  &.filter_sticky {
    @include media-breakpoint-up(lg) {
      position: static;
    }

    @include media-breakpoint-down(md) {
      @include pos(0,0,fixed);
      right: 0;
      padding: 0;
      z-index: 1080;
      background: rgba(0,0,0,0);
    }
  }
  */
}

.filter-visible {
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }

  .filter {
    &.filter_sticky {
      @include media-breakpoint-down(md) {
        bottom: 0;
      }
    }

    &.filter_extend {
      @include media-breakpoint-down(md) {
        bottom: auto;
      }
    }

    &.filter_active {
      @include media-breakpoint-down(md) {
        bottom: 0;
      }
    }
  }
}

/*
.filter_-_body {
  transition: all .3s ease;

  @include media-breakpoint-up(lg) {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    @include pos(0,0);
    right: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
*/

.filter__alert {
  z-index: 2;

  @include media-breakpoint-up(lg) {
    @include pos(auto,0);
    right: 0;
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto !important;
  }
}
