.aside-toggler {
  @extend %btn-default;
  @include wh(100%,40px);
  background: $color__light;
  color: $color__text_default;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .12) inset;

  &.aside-toggler_active {
    color: #fff;
    background: $color__brand;

    .aside-toggler__show {
      display: none;
    }

    .aside-toggler__hide {
      display: inline;
    }
  }
}

.aside-toggler__icon {
  @include fw(18px);
  pointer-events: none;
}

.aside-toggler__hide {
  display: none;
}

/**/
.filter-visible {
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }

  .filter_sticky {
    @include media-breakpoint-down(md) {
      bottom: 0;
    }
  }

  .filter_-_body {
    @include media-breakpoint-down(md) {
      opacity: 1;
      height: auto;
      overflow: auto;
      visibility: visible;
    }
  }
}
