.footer {
  @include media-breakpoint-up(md) {
    padding: 40px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 16px 55px;
  }
}

.footer__nav-title.h4 {
  margin: 0 0 1.25rem;
}

.footer__nav-item.color-white.mb-2 {
  @include fs-lh(.75rem,1rem);
}
