.header {
  @include offset(0 0 2.5rem,0 0 .75rem);
  @include pos(0,0,sticky);
  right: 0;
  z-index: 1040;
  transition: all .3s ease;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .16);

  &.header_sticky {
    padding-bottom: 0;

    .header__top {
      height: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;
    }

    .header__wrapper {
      @include media-breakpoint-up(lg) {
        @include py(.75rem,0);
      }

      @include media-breakpoint-down(md) {
        flex-wrap: nowrap;
      }
    }

    .header__bottom {
      height: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;
    }

    .header__col {
      @include media-breakpoint-down(md) {
        @include fw(auto);
        width: auto;
        max-width: initial;
      }
    }

    .header__footer {
      transform: translateY(0);
    }

    .logo {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.header__top {
  padding: .625rem 0;
  overflow: hidden;
  background: $color__light;
  transition: all .3s ease;
}

.header__wrapper {
  @extend %wrapper;
  @extend %flex-item;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    @include py(1.25rem,0);
  }

  @include media-breakpoint-down(md) {
    @include py(1rem,0);
  }
}

.header__bottom {
  @extend %wrapper;
  overflow: hidden;
  transition: all .3s ease;
}

.header__col {
  &.header__col_logo {
    @extend %flex-item;
    order: 1;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  &.header__col_search {
    @include media-breakpoint-up(xl) {
      order: 2;
    }

    @include media-breakpoint-only(lg) {
      order: 3;
    }

    @include media-breakpoint-down(md) {
      order: 2;
      display: none;
    }
  }

  &.header__col_nav {
    @extend %flex-item;
    order: 1;

    @include media-breakpoint-up(xl) {
      order: 3;
    }

    @include media-breakpoint-only(lg) {
      order: 2;
    }

    @include media-breakpoint-down(md) {
      order: 3;
      justify-content: center;
    }
  }
}

.header__nav-item {
  @extend %btn-default;
  transition: all .3s ease;

  &:hover {
    color: $color__brand;
  }

  &.header__nav-item_col {
    &:hover {
      .header__nav-icon {
        background: $color__light;
      }
    }
  }
}

.header__nav-icon {
  @include wh(24px);
  padding: .125rem .25rem;
  align-self: center;
  border-radius: 50%;
  color: $color__brand;
  transition: all .3s ease;
}

.header__btn-title {
  color: $color__link;
  overflow: hidden;
  //text-overflow: ellipsis;
  line-height: 1.25rem;

  &:hover {
    color: $color__brand;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.header__btn {
  @extend %flex-item;
  @extend %btn-theme;
  padding: .5rem .688rem;
  letter-spacing: .03em;

  &.header__btn_inverse {
    @include media-breakpoint-down(md) {
      @include color($color__brand);
      height: auto;
      padding: 0;
      box-shadow: none;
      background: #fff;
    }
  }

  &.header__btn_active {
    z-index: 3;
    position: relative;
    border-radius: .5rem .5rem 0 0;
  }
}

.header__btn-icon {
  @include fw(18px);
  display: none;

  &.header__btn-icon_active {
    display: block;
  }
}

.header__btn-title {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.header__footer {
  transition: all .3s ease;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  @include media-breakpoint-down(md) {
    transform: translateY(12px);
  }

  &.header__footer_row {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $color__light;
      color: $color__text_default;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, .12) inset;
    }
  }
}
