@mixin navbar-icon {
  @include h5;
  @include wh(24px);
  padding: .125rem .25rem;
  align-self: center;
  border-radius: 50%;
  color: $color__brand;
  transition: all .3s ease;
}

.header {
  @include pos(0,0,sticky);
  right: 0;
  z-index: 1030;
  background-color: #fff;

  @include media-breakpoint-up(lg) {
    @include py(1.25rem,1rem);
    top: -.5rem;
  }

  @include media-breakpoint-only(md) {
    @include py(1rem);
  }

  @include media-breakpoint-down(sm) {
    @include py(0.625rem);
  }

  &.header_sticky {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .16);
  }
}

.header__wrapper {
  @extend %d-flex-ai-center;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.header__col {
  @extend %d-flex-ai-center;

  &.header__col_side_left {
    @include media-breakpoint-down(md) {
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &.header__col_side_right {
    @include media-breakpoint-down(md) {
      flex-grow: 0;
    }
  }
}

.header__togglers {
  @extend %d-flex-ai-center;
}

/* btn */
.header__btn {
  @extend %btn-default;
  @extend %btn-theme;
  @extend %d-flex-ai-center;
  padding: .5rem .688rem;
  letter-spacing: .03em;

  &.header__btn_type_toggler {
    .header__btn-title {
      display: block;

      @media (max-width:$breakpoint__custom_xs - 1) {
        display: none;
      }
    }
  }

  &.header__btn_place_panel {
    @include media-breakpoint-down(md) {
      height: auto;
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: none;
      background-color: rgba(0,0,0,0);
    }

    .header__btn-icon {
      @include media-breakpoint-down(md) {
        @include navbar-icon;
      }
    }

    .header__btn-title {
      @include media-breakpoint-down(md) {
        @include h6;
        display: block;
        margin-left: 0;
        letter-spacing: 0;
        line-height: $line-height_content;
        color: $color__text_default;
      }

      @media (max-width:$breakpoint__custom_xs - 1) {
        display: none;
      }
    }
  }

  &.header__btn_active {
    @include media-breakpoint-up(xl) {
      z-index: 3;
      position: relative;
      border-radius: .5rem .5rem 0 0;
    }

    .header__btn-icon_show {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .header__btn-icon_close {
      @include media-breakpoint-up(lg) {
        display: flex;
      }
    }
  }
}

.header__btn-icon {
  @extend %d-flex-column;
  @extend %d-flex-centered;

  &.header__btn-icon_close {
    display: none;
  }
}

.header__btn-title {
  display: none;
  pointer-events: none;

  @media (min-width:$breakpoint__custom_xs) {
    margin-left: .5rem;
  }
}

/* bottom-panel */
.header__bottom-panel {
  @extend %d-flex-ai-center;

  @include media-breakpoint-up(xl) {
    @include fw(100%/8*5);
  }

  @include media-breakpoint-only(lg) {
    flex-grow: 1;
  }

  @include media-breakpoint-down(md) {
    @include px(1rem);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.16);
  }

  @media (min-width:$breakpoint__custom_xs) {
    @include py(.7rem);
  }

  @include media-breakpoint-up(lg) {
    @include py(0);
  }

  @media (max-width:$breakpoint__custom_xs - 1) {
    @include py(1.125rem);
  }
}

/* navbar */
.header__navbar {
  @extend %d-flex-centered;

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    margin-right: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    @include fw(100%/6*5);
  }
}

.search-holder_focused {
  .header__navbar {
    @include media-breakpoint-up(xl) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.header__navbar-item {
  @extend %theme-hover;
  @extend %btn-default;
  @extend %d-flex-column;
  @include px($grid-gutter-width/2);
  text-align: center;

  @include media-breakpoint-up(xl) {
    @include fw(100%/4);
  }

  @include media-breakpoint-down(lg) {
    @include fw(100%/5);
  }

  @include media-breakpoint-up(md) {
    position: relative;
  }

  &:hover {
    .header__navbar-icon {
      background-color: $color__light;
    }
  }

  &.header__navbar-item_toggler_search {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.header__navbar-top {
  @extend %d-flex-ai-center;
  justify-content: center;
  position: relative;
}

.header__navbar-icon {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include navbar-icon;
}

.header__navbar-badge {
  @extend %d-flex-ai-center;
  @include h6;
  @include fw(18px);
  @include wh(18px);
  justify-content: center;
  color: #fff;
  background-color: $color__success;

  &.header__navbar-badge_width_auto {
    @include fw(auto);
    width: auto;
    max-width: initial;
  }

  @include media-breakpoint-down(sm) {
    @include pos(-8px,auto);
    margin: 0 0 0 22px;
  }
}

.header__navbar-caption {
  @extend %text-oneline;
  display: block;
  line-height: $line-height_content;

  @include media-breakpoint-down(md) {
    @include h6;
    line-height: $line-height_content;
  }

  @media (max-width:$breakpoint__custom_xs - 1) {
    display: none;
  }
}

/* aside */
.header__aside {
  position: relative;

  @include media-breakpoint-down(md) {
    @include fw(100%/6);
    @include px($grid-gutter-width/2);
    display: flex;
    justify-content: center;
  }
}

.header__aside-meta {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 -.25rem;
  }

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: -8px;
    bottom: 0;
    right: 0;
  }
}

.header__aside-badge {
  @extend %d-flex-ai-center;
  @include h6;
  height: 18px;
  min-width: 18px;
  margin-bottom: .25rem;
  justify-content: center;
  color: $color__brand;
  background-color: $color__light;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    @include px(.5rem);
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
