/*
.heading {
  position: relative;
}

.heading__col {
  @include fw(100%/10);
  @include px(1rem,$grid-gutter-width/2);
  text-overflow: ellipsis;

  &.heading__col_lg {
    @include fw(100%/10*2);
  }
}
*/

.heading {
  &.heading_orders {
    display: grid;
    grid-column-gap: $grid-gutter-width;
    grid-template-columns: repeat(2,1fr) 3fr repeat(4,1fr);
  }
}

.heading__col {
}
