.leftmenu {
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,.16);

  @include media-breakpoint-up(lg) {
    border-radius: .5rem;
  }
}

.leftmenu__item {
  @include border(0 0 1px,$color__border);
  padding: .75rem 1rem .75rem 2rem;

  &:hover,
  &.active {
    color: $color__blue;
  }
}

.leftmenu__item-title {
  text-overflow: ellipsis;
}

.leftmenu__item-icon {
  @include fw(20px);
  //@include wh(20px);
}

.leftmenu__badge {
  line-height: 1.25rem;
  border-radius: .875rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .14);
}

.leftmenu__badge-text {
  font-size: .625rem;
  letter-spacing: .03em;
}
