.leftmenu {
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,.16);

    @include media-breakpoint-up(lg) {
        border-radius: 8px;
    }
}

.leftmenu__item {
    @include h4;
    @extend %flex-item;
    @include border(0 0 1px,$color__border);
    padding: 12px 16px 12px 32px;

    &:hover,
    &.active {
        color: $color__brand;
    }
}

.leftmenu__item-title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 8px 0 0;
}

.leftmenu__item-icon {
    @include fw(20px);
    @include wh(20px);
    margin: 0 8px 0 0;
    color: $color__brand;
}

.leftmenu__item-badge {
    @include h5;
    color: #fff;
    line-height: 20px;
    white-space: nowrap;
    padding: 0 10px;
    border-radius: 14px;
    background: $color__light;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.14);

    .text-sm {
        font-size: 10px;
        letter-spacing: 0.03em;
    }
}
