.media {
  display: flex;

  &.media_shadow {
    overflow: hidden;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

    .media__picture {
      border-radius: 0;
    }

    .media__date {
      @include px(.75rem);
    }

    .media__title {
      @include h3;
    }
  }

  &.media_row {
    @include media-breakpoint-up(lg) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .media__picture {
      @include media-breakpoint-up(xl) {
        @include fw(100%/12*2);
      }

      @include media-breakpoint-only(lg) {
        @include fw(100%/12*3);
      }

      @include media-breakpoint-only(md) {
        @include fw(100%/12*6);
      }

      @include media-breakpoint-down(sm) {
        flex: 1 0 auto;
        max-width: initial;
      }
    }

    .media__meta {
      @include media-breakpoint-up(lg) {
        @include fw(100%/12*9);
        padding: 1.5rem 0 1.5rem 2rem;
      }

      @include media-breakpoint-only(lg) {
        padding-right: 2rem;
      }

      @include media-breakpoint-only(md) {
        @include fw(100%/12*6);
        padding: 1.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 0 1rem 1.5rem;
      }
    }

    .media__intro {
      @include media-breakpoint-down(md) {
        height: 88px;
        overflow: hidden;
      }
    }
  }

  &.media_col {
    grid-column-start: initial;
    grid-column-end: initial;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .media__picture {
      @include media-breakpoint-up(lg) {
        @include fw(100%/12*6);
      }

      @include media-breakpoint-only(md) {
        @include fw(100%/12*6);
      }

      @include media-breakpoint-down(sm) {
        flex: 1 0 auto;
        max-width: initial;
      }
    }

    .media__meta {
      @include media-breakpoint-up(lg) {
        @include fw(100%/12*6);
      }

      @include media-breakpoint-only(md) {
        @include fw(100%/12*6);
      }
    }

    .media__intro {
      @include media-breakpoint-up(lg) {
        height: 88px;
        overflow: hidden;
      }
    }
  }
}

.media__picture {
  overflow: hidden;
  border-radius: .5rem;

  @include media-breakpoint-up(md) {
    @include fw(120px);
  }

  @include media-breakpoint-down(sm) {
    @include fw(105px);
  }
}

.media__meta {
  @include media-breakpoint-up(sm) {
    //padding: 0 1.5rem 0 0;
  }
}

.media__title {
  @include media-breakpoint-up(md) {
    @include h4;
  }

  @include media-breakpoint-down(sm) {
    @include fs-lh(.75rem,1.375rem);
  }
}
