.notify {
  position: absolute;
  top: -14px;
  right: -14px;
}

.notify__icon {
  cursor: pointer;
  pointer-events: all !important;
}

.notify__desc {
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  padding: .75rem;
  border-radius: .25rem;
  border: 1px solid #fff;
  background-color: $color__light;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);

  @include media-breakpoint-up(sm) {
    left: 10px;
    width: 340px;
  }

  @include media-breakpoint-only(xs) {
    left: -120px;
    width: 280px;
  }
}
