.pagination {
    @extend %flex-item;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.16);
}

.pagination__item {
    @extend %flex-column;
    @include color($color__brand);
    @include fw(22px);
    @include wh(22px);
    margin: 0 8px 0 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.14);

    &.pagination__item_current {
        background: $color__light;
    }

    &.pagination__item_divider {
        box-shadow: none;
        color: $color__text_default;
    }
}

.pagination__nav {
    @extend .pagination__item;
    @include before;
    background: $color__brand;

    &:before {
        top: 50%;
        margin: -4px 0 0;
    }

    &.pagination__nav_prev {
        &:before {
            @include border(4px 4px 4px 0,rgba(0,0,0,0) #fff rgba(0,0,0,0) rgba(0,0,0,0));
            left: 8px;
        }
    }

    &.pagination__nav_next {
        &:before {
            @include border(4px 0 4px 4px,rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff);
            left: 10px;
        }
    }
}