.pagination {
  @extend %d-flex-ai-center;
  justify-content: center;
  padding: .5rem;
  border-radius: .5rem;
  background: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);
}

.pagination__item {
  @extend %d-flex-column;
  @include color($color__brand);
  @include fw(22px);
  @include wh(22px);
  margin: 0 .5rem 0 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .14);

  &.pagination__item_current {
    background: $color__light;
  }

  &.pagination__item_divider {
    box-shadow: none;
    color: $color__text_default;
  }

  &.pagination__item_next {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }

  &.pagination__item_prev {
    transform: rotateY(180deg);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
}
