.params {
    @include h6;
    @include border(0 0 1px,#E1DDDD);
    margin: 0 -16px;
}

.params__row {
    @extend %flex-column;
    @include border(1px 0 0,#E1DDDD);
    padding: 2px 16px 0;
    justify-content: flex-end;
}

.params__title {
    color: $color__disabled;
}

.params__value {
    @include h5;
}
