.pathway {
  @include h6;
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    margin: 0 0 1.75rem;
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 1rem;
  }
}

.pathway__link {
  display: block;
  margin: 0 .25rem 0 0;

  &:after {
    content: '/';
    margin: 0 0 0 .25rem;
  }

  &:hover {
    color: $color__blue;
  }
}

.pathway__current {
  display: block;
}
