.pathway {
  @include h6;

  @include media-breakpoint-up(lg) {
    margin: 0 0 1.75rem;
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 1rem;
  }
}

.pathway__link {
  @include inline-block;
  margin: 0 .25rem 0 0;

  &:after {
    content: '/';
    margin: 0 0 0 .25rem;
  }
}

.pathway__current {
  @include inline-block;
}
