.recalculate {
  border-radius: 8px;
}

.recalculate__btn {
  @extend %btn-default;
  @include fs-lh(1rem,1.375rem);
  height: 40px;

  &.recalculate__btn_remove {
    padding: 4px 3px 4px 4px;
  }

  &.recalculate__btn_add {
    padding: 4px 4px 4px 3px;
  }
}

.recalculate__value {
  @include fw(18px);
  @include fs-lh(1rem,1.375rem);
  height: 40px;
}
