.recalculate {
  border-radius: .5rem;
}

.recalculate__btn {
  @extend %btn-default;
  @include fs-lh(1rem,1.375rem);
  height: 40px;

  &.recalculate__btn_remove {
    padding: .25rem .188rem .25rem .25rem;
  }

  &.recalculate__btn_add {
    padding: .25rem .25rem .25rem .188rem;
  }
}

.recalculate__value {
  @include fw(18px);
  @include fs-lh(1rem,1.375rem);
  height: 40px;
}
