.review {
  border-radius: .5rem;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

  &.review_slide {
    @include media-breakpoint-only(xs) {
      max-width: 215px;
    }
  }
}

.review__title {
  margin: 0 0 .75rem;
}
