.search {
    position: relative;
    padding: 0 2.5rem 0 0;
    overflow: hidden;
    border-radius: .5rem;
    background: $color__light;
}

.search__field {
    @include fw(100%);
    @include wh(100%,40px);
    @include fs-lh(1rem,1.375rem);
    letter-spacing: .05em;
    padding: .5rem 0 .5rem .875rem;
    border: 0;
    background: none;
    color: $color__brand;
}

.search__btn {
    @extend %btn-default;
    @include fw(18px);
    @include wh(18px);
    position: absolute;
    top: 50%;
    right: 14px;
    margin: -.563rem 0 0;
    color: $color__brand;
}
