.search-panel {
  @include media-breakpoint-up(xl) {
    @include fw(100%/8*3);
  }

  @include media-breakpoint-down(lg) {
    @include wh(100%);
    @include pos(0,0,fixed);
    opacity: 0;
    pointer-events: none;
    background-color: rgba(82,82,82,.2);
    transition: all .3s ease;
  }

  &.search-panel_active {
    opacity: 1;
    z-index: 1040;
    pointer-events: all;

    .search-panel__wrapper {
      transform: translate(0,0);
    }
  }
}

.search-panel__wrapper {
  @include media-breakpoint-down(lg) {
    @include pos(0,0);
    bottom: 0;
    width: 304px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $color__light;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.16);
    transform: translateX(-100%);
    transition: all .3s ease;
  }
}

.search-panel__dropdown-holder {
  display: none;

  @include media-breakpoint-up(xl) {
    @include pos(100%,0);
    right: 0;
    overflow: hidden;
  }
}

.search-panel__dropdown {
  max-height: 680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $color__light;

  @include media-breakpoint-up(xl) {
    @include offset(0 -17px 0 0,0 17px 0 0);
  }
}

.search-panel__section {
  @include border(1px 0 0,#fff);
  padding: .5rem 1rem;
}

.search-panel__row {
  @extend %d-flex-ai-center;
}

.search-panel__picture {
  @include fw(30px);
  overflow: hidden;
  border-radius: .5rem;
}

.search-panel-active {
  .search-panel__wrapper {
    @include media-breakpoint-up(xl) {
      @include pos(2px,$grid-gutter-width/2);
      right: 4rem;
    }
  }
}
