.search {
  @extend %d-flex-ai-center;
  height: 40px;
  overflow: hidden;
  background: $color__light;

  @include media-breakpoint-up(xl) {
    border-radius: .5rem;
  }

  @include media-breakpoint-down(lg) {
    @include border(0 0 1px,rgba(0,0,0,0));
  }

  &.search_border_rounded {
    border-radius: .5rem;
  }
}

.search-holder_active {
  .search {
    @include media-breakpoint-up(xl) {
      border-radius: .5rem .5rem 0 0;
    }

    &.search_border_rounded {
      border-radius: .5rem .5rem 0 0;
    }
  }
}

.search__field {
  @include fs-lh(1rem,1.375rem);
  letter-spacing: .05em;
  border: 0;
  width: 100%;
  flex-grow: 1;
  padding: .5rem .875rem;
  background: none;
  color: $color__text_default;

  &:focus {
    & + .search__btn_type_reset {
      opacity: 1;
      pointer-events: all;
    }
  }

  &::-webkit-input-placeholder {
    opacity: .2;
    color: $color__blue;
  }

  &::-moz-placeholder {
    opacity: .2;
    color: $color__blue;
  }

  &:-ms-input-placeholder {
    opacity: .2;
    color: $color__blue;
  }

  &:-moz-placeholder {
    opacity: .2;
    color: $color__blue;
  }
}

.search__btn {
  @extend %btn-default;
  @include fw(18px);
  color: $color__blue;

  &.search__btn_type_reset {
    @include fw(24px);
    @include border(0 1px 0 0,$color__blue);
    @include offset(0 .625rem 0 0,0 .625rem 0 0);
    opacity: 0;
    pointer-events: none;

    @include media-breakpoint-up(xl) {
      border-color: rgba(0,0,0,0);
    }
  }

  &.search__btn_type_submit {
    margin: 0 .625rem 0 0;
  }
}

.search-holder_focused {
  .search {
    @include media-breakpoint-down(lg) {
      border-color: #fff;
    }
  }
}
