.section {
  @include py(2.5rem);
  border-radius: .5rem;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

  &.section_divider {
    @include media-breakpoint-down(sm) {
      @include mx(-1rem);
      border-radius: 0;
    }
  }
}

.section__picture {
  @include media-breakpoint-up(lg) {
    @include my(-2.5rem);
  }

  @include media-breakpoint-down(md) {
    @include mx(-1rem);
  }

  &.section__picture_left {
    @include media-breakpoint-down(md) {
      margin-top: -2.5rem;
    }
  }
}

.section__video {
  @include media-breakpoint-only(md) {
    @include mx(-2.5rem);
  }

  @include media-breakpoint-down(sm) {
    @include mx(-1rem);
  }
}

/*
.section__row {
  @include h5;
  @include offset(0 -32px,8px 32px);
  @include border(1px 0 0,$color__border);
  display: block;
}
*/
