.section {
  @include py(2.5rem);
  border-radius: .5rem;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

  &.section_divider {
    @include media-breakpoint-down(sm) {
      @include mx(-1rem);
      border-radius: 0;
    }
  }
}

.section__picture {
  @include media-breakpoint-up(lg) {
    @include my(-2.5rem);
  }

  @include media-breakpoint-down(md) {
    @include mx(-1rem);
  }

  &.section__picture_left {
    @include media-breakpoint-down(md) {
      margin-top: -2.5rem;
    }
  }
}

.section__video {
  @include media-breakpoint-only(md) {
    @include mx(-2.5rem);
  }

  @include media-breakpoint-down(sm) {
    @include mx(-1rem);
  }
}

.section__expander {
  @include border(0 0 1px,rgba(0,0,0,0));

  &.active {
    border-color: $color__border;

    & + .section__body {
      display: block;
    }

    .section__readmore {
      transform: rotate(-180deg);
    }
  }
}

.section__body {
  display: none;
}

.section-counter {
  @include fw(22px);
  @include wh(22px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
