.social {
    @extend %flex-item;
    flex-wrap: wrap;
}

.social__item {
    @extend %color-brand;
    @include fw(20px);
    @include size(20px);

    &:last-child {
        margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 16px 0 0;
    }

    @include media-breakpoint-down(md) {
        margin: 0 24px 0 0;
    }

    &.social__item_inverse {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}