.slides {
  @include px(1rem);
  margin-left: -1rem;

  @include media-breakpoint-down(lg) {
    margin-right: -1rem;
  }

  &.slides_grid {
    @include media-breakpoint-up(lg) {
      overflow: visible;
    }

    .slides__nav {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .swiper-wrapper {
      @include media-breakpoint-up(xl) {
         grid-template-columns: repeat(5,1fr);
      }

      @media (min-width:$breakpoint__custom_lg) {
        grid-template-columns: repeat(6,1fr);
      }

      @include media-breakpoint-only(lg) {
        grid-template-columns: repeat(4,1fr);
      }

      @include media-breakpoint-up(lg) {
        display: grid;
        grid-row-gap: 16px;
        width: auto !important;
        transform: none !important;
      }
    }
  }

  &.slides_tile {
    @extend .slides_grid;

    .swiper-wrapper {
      @include media-breakpoint-down(md) {
        height: 580px;
      }
    }

    .swiper-slide {
      width: auto !important;

      @include media-breakpoint-down(md) {
        margin: 0 0 1rem;
      }
    }
  }

  &.slides_togglers {
    @include media-breakpoint-down(md) {
      @include px(2rem);
    }

    & + .slides__nav {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .swiper-wrapper {
      @include media-breakpoint-up(lg) {
        width: auto !important;
        transform: none !important;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .swiper-slide {
      @include px(0);
    }
  }

  &.slides_banners {
    @include mx(0);
    @include px(0);
    border-radius: .5rem;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .16);

    @include media-breakpoint-up(lg) {
      margin-bottom: .5rem;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: .25rem;
    }

    & + .slides-pagination {
      display: flex;
      justify-content: center;

      .swiper-pagination-bullet {
        flex-grow: 1;
        height: 4px;
        cursor: pointer;
        background: #C4C4C4;

        @include media-breakpoint-up(lg) {
          margin: 0 .5rem 0 0;
        }

        @include media-breakpoint-down(md) {
          margin: 0 .25rem 0 0;
        }

        &.swiper-pagination-bullet-active {
          background: $color__blue;
        }
      }
    }
  }

  &.slides_features {
    position: relative;

    .slides__nav {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .swiper-slide {
    @include px(.25rem);
  }
}

.slides__nav {
  &.slides__nav_row {
    @extend %zi-2;
    @extend %d-flex-ai-center;

    .slides__btn {
      margin: 0;
      position: static;
      box-shadow: none;
      color: $color__blue;

      &.swiper-button-disabled {
        @extend %d-flex-wrap;
        color: $color__disabled;
      }

      &:hover,
      &:focus {
        background: #fff;
      }
    }
  }
}

.slides__btn {
  @extend %btn-default;
  @extend %d-flex-column;
  @include wh(40px);
  @include offset(-1.563rem 0 0,.75rem .875rem);
  position: absolute;
  top: 50%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  color: $color__blue;
  border-radius: 50%;
  transition: all .3s ease;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);

  &:hover {
    box-shadow: none;
    background: $color__light;
  }

  &:focus {
    box-shadow: none;
    color: #fff;
    background: $color__blue;
  }

  &.slides__btn_prev {
    left: 10px;
  }

  &.slides__btn_next {
    right: 10px;
  }

  &.slides__btn_sm {
    @include wh(28px);
    margin-top: -1.125rem;
    padding: .5rem .375rem .5rem .25rem;

    &.slides__btn_next {
      padding: .5rem .25rem .5rem .375rem;
    }
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.swiper-slide {
  @include wh(auto);
  z-index: 1;
  box-sizing: border-box;

  &:hover {
    z-index: 2;
  }
}

.slides_togglers-prev {
  margin-top: -.825rem !important;
}

.slides_togglers-next {
  margin-top: -.825rem !important;
}
