.table-row {
  &.active {
    .table-row__header {
      display: none;
    }

    .table-row__body {
      display: block;
    }
  }
}

.table-row {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-gap: 8px;
    grid-column-gap: $grid-gutter-width;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }

  &.table-row_cart {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(12,1fr);
      grid-template-areas: "cart__img cart__title cart__title cart__title cart__title cart__price cart__price cart__quantity cart__quantity cart__summ cart__summ cart__close";
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      position: relative;
    }
  }

  &.table-row_vin {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2,1fr) 2fr 5fr;
    }
  }

  &.table-row_bonus {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 5fr 2fr;
    }
  }

  &.table-row_category {
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(10,1fr);
      grid-template-areas: "category__group category__pos category__pos category__pos category__pos category__pos category__pos category__pos category__pos category__pos category__pos";
    }

    @include media-breakpoint-between(md,lg) {
      grid-template-columns: repeat(8,1fr);
      grid-template-areas: "category__group category__pos category__pos category__pos category__pos category__pos category__pos category__pos category__pos";
    }
  }

  &.table-row_subcategory {
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(10,1fr);
      grid-template-areas: "subcategory__title subcategory__title subcategory__title subcategory__title subcategory__title subcategory__article subcategory__price subcategory__quantity subcategory__btn subcategory__btn";
    }

    @include media-breakpoint-between(md,lg) {
      grid-template-columns: repeat(10,1fr);
      grid-template-areas: "subcategory__title subcategory__title subcategory__title subcategory__title subcategory__title subcategory__article subcategory__article subcategory__price subcategory__price subcategory__quantity""subcategory__btn subcategory__btn subcategory__btn subcategory__btn . . . . . .";
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.table-row__header {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-column-gap: $grid-gutter-width;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }

  &.table-row__header_order {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2,1fr) 3fr repeat(4,1fr);
    }
  }
}

.table-row__col {
  &.table-row__col_grid {
    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  /* group */
  &.table-row__col_group {
    @include media-breakpoint-up(md) {
      grid-area: category__group;
    }
  }

  /* category */
  &.table-row__col_category {
    @include media-breakpoint-up(md) {
      grid-area: category__pos;
      display: grid;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(9,1fr);
      grid-template-areas: "col__width col__height col__type col__title col__title col__price col__stock col__btn col__btn";
    }

    @include media-breakpoint-between(md,lg) {
      grid-template-columns: repeat(7,1fr);
      grid-template-areas: "col__width col__height col__type col__title col__title col__price col__stock""col__btn col__btn col__btn . . . .";
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  /* subcategory */
  &.table-row__col_subcategory-title {
    @include media-breakpoint-up(md) {
      grid-area: subcategory__title;
    }

    @include media-breakpoint-down(sm) {
      padding-left: (2*100%/12);
      position: relative;
    }
  }

  &.table-row__col_subcategory-article {
    @include media-breakpoint-up(md) {
      grid-area: subcategory__article;
    }

    @include media-breakpoint-down(sm) {
      padding-left: (2*100%/12);
    }
  }

  &.table-row__col_subcategory-price {
    @include media-breakpoint-up(md) {
      grid-area: subcategory__price;
    }

    @include media-breakpoint-down(sm) {
      padding-left: (2*100%/12);
    }
  }

  &.table-row__col_subcategory-quantity {
    @include media-breakpoint-up(md) {
      grid-area: subcategory__quantity;
    }

    @include media-breakpoint-down(sm) {
      padding-left: (2*100%/12);
    }
  }

  &.table-row__col_subcategory-btn {
    @include media-breakpoint-up(md) {
      grid-area: subcategory__btn;
    }
  }

  /* cart */
  &.table-row__col_cart-img {
    @include media-breakpoint-up(md) {
      grid-area: cart__img;
    }

    @include media-breakpoint-down(sm) {
      @include fw(100%/12*4);
    }
  }

  &.table-row__col_cart-title {
    @include media-breakpoint-up(md) {
      grid-area: cart__title;
    }

    @include media-breakpoint-down(sm) {
      @include fw(100%/12*7);
    }
  }

  &.table-row__col_cart-price {
    @include media-breakpoint-up(md) {
      grid-area: cart__price;
    }

    @include media-breakpoint-down(sm) {
      @include fw(100%/12*8);
    }
  }

  &.table-row__col_cart-quantity {
    @include media-breakpoint-up(md) {
      grid-area: cart__quantity;
    }

    @include media-breakpoint-down(sm) {
      @include fw(100%/12*4);
    }
  }

  &.table-row__col_cart-summ {
    @include media-breakpoint-up(md) {
      grid-area: cart__summ;
    }

    @include media-breakpoint-down(sm) {
      @include fw(100%/12*8);
    }
  }

  &.table-row__col_cart-close {
    @include media-breakpoint-up(md) {
      grid-area: cart__close;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}

.table-row__body {
  display: none;
}

.table__col {
  &.table__col_width {
    grid-area: col__width;

    @include media-breakpoint-down(sm) {
      color: $color__brand;
    }
  }

  &.table__col_height {
    grid-area: col__height;

    @include media-breakpoint-down(sm) {
      color: $color__brand;
    }
  }

  &.table__col_type {
    grid-area: col__type;
  }

  &.table__col_title {
    grid-area: col__title;

    @include media-breakpoint-down(sm) {
      @include fw(100%);
    }
  }

  &.table__col_price {
    grid-area: col__price;

    @include media-breakpoint-down(sm) {
      @include fw(100%);
      @include h4;
      font-weight: bold;
    }
  }

  &.table__col_stock {
    grid-area: col__stock;

    @include media-breakpoint-down(sm) {
      @include fw(100%);
      color: $color__brand;
    }
  }

  &.table__col_btn {
    grid-area: col__btn;

    @include media-breakpoint-only(sm) {
      @include fw(50%);
      @include mx(auto);
    }

    @include media-breakpoint-only(xs) {
      @include fw(100%);
    }
  }
}

.table__col-title {
  font-weight: normal;
  color: $color__text_default;
}
