.topmenu {
  @include before;
  @include offset(0 0 2.5rem,0 0 .75rem);
  @include pos(-3rem,0,sticky);
  background-color: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .16);
}

.topmenu__item {
  @include inline-block;
  @include fs-lh(1rem,1.375rem);
  user-select: none;
  transition: all .3s ease;

  &:hover,
  &.current {
    color: $color__blue;
  }

  &.current {
    font-weight: bold;
  }

  @include media-breakpoint-down(md) {
    margin: 0 1.5rem 0 0;
  }
}

.topmenu__link {
  @extend %theme-hover;
  @include inline-block;
}
