.section.text-center.mb-5
  .px-lg-5.px-md-4.px-3
    .h2.font-weight-bold.color-theme-brand.mb-4 Оставьте заявку и наши менеджеры свяжутся с вами в
      br
      | ближайшее время
    .row
      form.form.col-xl-4.offset-xl-4.col-md-6.offset-md-3.col-sm-8.offset-sm-2(action="#")
        .form__item.mb-4
          input.form__field(type="text" value="")
          label.form__label.form__label_title +7 (_ _ _) _ _ _-_ _-_ _
        button.btn.text-uppercase.px-4.mb-3(type="submit") перезвонить мне
        .h6 Нажимая “Подписаться” вы принимаете условия&nbsp;
          a.color-theme-brand(href="#") Политики конфиденциальности
