#details.aside.aside_pos_fixed
  .aside__wrapper
    form.form.form_bg.form_filter.mb-lg-3(action="#")
      .form__header.d-flex.align-items-center.justify-content-between.d-lg-block
        .form__title.form__title_icon.d-flex.align-items-center.flex-grow-1.h4.font-weight-bold.color-theme-blue
          +icon('detail','form__title-icon h3 mr-1')
          span.mr-2 Автотовары
      .category-menu
        .category-menu__item
          a.category-menu__title.category-menu__title_type_toggler(href="https://don-shina.ru")
            span.d-block.pointer-events-none.mr-2 Автоаксессуары
            button.category-menu__toggler.button-unstyled(type="button")
              +icon('arrow-right','h4')
        .category-menu__dropdown
          a.category-menu__link(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
        .category-menu__item
          a.category-menu__title.category-menu__title_type_toggler(href="https://don-shina.ru")
            span.d-block.pointer-events-none.mr-2 Автохимия
            button.category-menu__toggler.button-unstyled(type="button")
              +icon('arrow-right','h4')
        .category-menu__dropdown
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
        .category-menu__item
          a.category-menu__title.category-menu__title_type_toggler(href="https://don-shina.ru")
            span.d-block.pointer-events-none.mr-2 Авточехлы
            button.category-menu__toggler.button-unstyled(type="button")
              +icon('arrow-right','h4')
        .category-menu__dropdown
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
        .category-menu__item
          a.category-menu__title.category-menu__title_type_toggler(href="https://don-shina.ru")
            span.d-block.pointer-events-none.mr-2 Автоаксессуары
            button.category-menu__toggler.button-unstyled(type="button")
              +icon('arrow-right','h4')
        .category-menu__dropdown
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
          a.category-menu__link(href="#") Видеорегистраторы
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Ароматизаторы (без подменю)
        .category-menu__item.category-menu__item_current
          a.category-menu__title.pr-3(href="https://don-shina.ru") Болты ГБЦ, Болты/Гайки прочее (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") ДМРВ, Глушители, Лямбды, Гофры (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Датчики (контроллеры) давления в шинах (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Двигатель, КПП/АКПП (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Комплект ГРМ и Ролики натяжения (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Крепеж диски (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Кузовные детали и аксессуары (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Лампы (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Подшипники и генераторы (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Провода Bысоковольтные В/В (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Пружины и Прокладки пружин (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Ремни (без подменю)
        .category-menu__item
          a.category-menu__title.pr-3(href="https://don-shina.ru") Рулевые механизмы и ходовая система (без подменю)
