.section.section_divider.px-lg-0.px-3.mb-5
  .px-lg-5.px-md-4
    .mb-3
      .h3.font-weight-bold.mb-3 Сезон
      a.toggler(href="#") Летняя
      a.toggler(href="#") Зимняя
      a.toggler(href="#") Всесезонная
      a.toggler(href="#") Летняя
      a.toggler(href="#") Зимняя
      a.toggler(href="#") Всесезонная
    .mb-3
      .h3.font-weight-bold.mb-3 Тип
      a.toggler(href="#") Легковые
      a.toggler(href="#") Для микроавтобуса
      a.toggler(href="#") Для микроавтобуса
    .h3.font-weight-bold.mb-3 Диаметр
    a.toggler(href="#") 13
    a.toggler(href="#") 14
    a.toggler(href="#") 14С
    a.toggler(href="#") 15
    a.toggler(href="#") 15С
    a.toggler(href="#") 16
    a.toggler(href="#") 16С
    a.toggler(href="#") 17
    a.toggler(href="#") 18
    a.toggler(href="#") 13
    a.toggler(href="#") 14
    a.toggler(href="#") 14С
    a.toggler(href="#") 15
    a.toggler(href="#") 15С
    a.toggler(href="#") 16
    a.toggler(href="#") 16С
    a.toggler(href="#") 17
    a.toggler(href="#") 18
