.section
  .section__wrapper.section__wrapper_px
    .mb-3
      .section__title.section__title_sm Сезон
      a.toggler(href="#") Летняя
      a.toggler(href="#") Зимняя
      a.toggler(href="#") Всесезонная
      a.toggler(href="#") Летняя
      a.toggler(href="#") Зимняя
      a.toggler(href="#") Всесезонная
    .mb-3
      .section__title.section__title_sm Тип
      a.toggler(href="#") Легковые
      a.toggler(href="#") Для микроавтобуса
      a.toggler(href="#") Для микроавтобуса
    .section__title.section__title_sm Диаметр
    a.toggler(href="#") 13
    a.toggler(href="#") 14
    a.toggler(href="#") 14С
    a.toggler(href="#") 15
    a.toggler(href="#") 15С
    a.toggler(href="#") 16
    a.toggler(href="#") 16С
    a.toggler(href="#") 17
    a.toggler(href="#") 18
    a.toggler(href="#") 13
    a.toggler(href="#") 14
    a.toggler(href="#") 14С
    a.toggler(href="#") 15
    a.toggler(href="#") 15С
    a.toggler(href="#") 16
    a.toggler(href="#") 16С
    a.toggler(href="#") 17
    a.toggler(href="#") 18