.section.text-center
  .section__wrapper.section__wrapper_px
    .section__title.color-brand.mb-3 Узнайте о выгоде первым
    .section__intro Подписывайтесь и получайте новости о скидках и акциях на свою почту.
    .row
      form.form.col-xl-4.offset-xl-4.col-md-6.offset-md-3.col-sm-8.offset-sm-2(action="#")
        .form__item.mb-4
          input.form__field(type="text" value="")
          label.form__label.form__label_title e-mail
        button.btn.px-5.mb-3(type="submit") подписаться
        .form__footer Нажимая “Подписаться” вы принимаете условия 
          a.color-brand(href="#") Политики конфиденциальности