.bg-theme-white {
  background: #fff !important;
}

.bg-theme-info {
  background: $color__info !important;
}

.bg-theme-light {
  background: $color__light !important;
}

.bg-theme-blue {
  background: $color__blue !important;
}

.bg-theme-blue-dark {
  background: $color__blue_dark !important;
}

.bg-theme-success {
  background: $color__success !important;
}

.bg-theme-warning {
  background: $color__warning !important;
}

.bg-theme-danger {
  background: $color__danger !important;
}

.bg-theme-disabled {
  background: $color__disabled !important;
}
