.bg-theme-white {
  background: #fff !important;
}

.bg-theme-info {
  background: $color__info !important;
}

.bg-theme-light {
  background: $color__light !important;
}

.bg-theme-brand {
  background: $color__brand !important;
}

.bg-theme-brand-dark {
  background: $color__brand_dark !important;
}

.bg-theme-success {
  background: $color__success !important;
}

.bg-theme-warning {
  background: $color__warning !important;
}

.bg-theme-disabled {
  background: $color__disabled !important;
}
