body {
	font: $font-size_default $font-family_default;
  font-weight: 400;
	line-height: $line-height_default;
  color: $color__text_default;
}

input {
  outline: 0;
  outline: none;
}

button {
  outline: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
    cursor: pointer;
  }
}

ul, ol {
  @extend %list-default;
}
