extends articles__row

block meta
  - var title = 'Статьи (плиткой)';

block articles__wrapper
  each articles__item in articles
    .media.media_shadow.media_col
      a.media__picture.mb-4.mb-md-0(href="#")
        +img(articles__item.img, 'img-cover')
      .media__meta.p-md-4.px-3.pb-4
        .media__date!= articles__item.date
        a.media__title.d-block.font-weight-bold.mb-lg-2.mb-3(href="#")!= articles__item.title
        .media__intro.h5!= articles__item.intro
