extends base

block meta
  - var title = 'Статьи (списком)';

block wrapper
  .wrapper
    ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Главная
          meta(itemprop="position" content="1")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Шины
          meta(itemprop="position" content="2")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__current(href="#" itemprop="item")
          span(itemprop="name") Шины R18
          meta(itemprop="position" content="3")
    section.row
      .content.col-lg-5.col-md-6
        h1(itemprop="name") #{title}
      form.form.col-lg-7.col-md-6.d-flex.align-items-center.justify-content-end.px-0.mb-3(action="#")
        .col-xl-4.col-lg-5.col-md-8
          .form__select
            select.selecter
              option По умолчанию
              option По возрастанию цены
              option По убыванию цены
              option По популярности
        .col-xl-2.col-lg-3.d-none.d-lg-flex.align-items-center.justify-content-end
          button.form__view.mr-3(type="button")
            +icon('list')
          button.form__view.active(type="button")
            +icon('tile')

    - var articles = [{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'},{img: 'content/media/media-1.jpg', date: '23.10.2021', title: 'Как зарядить аккумулятор автомобиля зарядным устройством', intro: 'Аккумулятор автомобиля — как правильно зарядить Аккумулятор автомобиля — один из ключевых элементов. Он используется для запуска мотора и служит источником питания бортовой сети. Важно знать, как заряжать аккумуляторную батарею. Это поможет...'}]

    .category.category_list.mb-3(itemscope itemtype="http://schema.org/Blog")
      block articles__wrapper
        each articles__item in articles
          .media.media_shadow.media_row(itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting")
            a.media__picture.mb-4.mb-md-0(href="#" itemprop="url")
              +img(articles__item.img, 'img-cover', true)
            .media__meta.flex-grow-1
              .date.px-2(itemprop="datePublished" datetime="2021-10-23")!= articles__item.date
              a.media__title.d-block.font-weight-bold.mb-3(href="#" itemprop="headline")!= articles__item.title
              .media__intro.h5(itemprop="description")!= articles__item.intro
              span.d-none(itemprop="author") ДонШина Ростов
    .section.d-flex.justify-content-center.py-3.mb-5
      a.readmore.d-flex.align-items-center.color-theme-blue(href="#")
        span.h4.mr-2 Показать еще
        +icon('readmore','h3 color-theme-blue')

    .mb-3
      .h2.font-weight-bold.mb-4 Рекомендуем:
      include category/carousel.pug

    include base/links.pug
