include libs/mixins

block meta
  - var title = '';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- link(href="../img/favicon.ico" rel="shortcut icon")

  body
    block header
        .icons.d-none
        header.header
            .header__top
                .wrapper.d-flex.flex-wrap.align-items-center
                    .col-xl-6.col-lg-12.col-8.d-flex.align-items-center.justify-content-xl-start.justify-content-lg-between.mb-xl-0.mb-lg-2
                        .contacts.d-flex.align-items-center.justify-content-lg-between.col-xl-7.col-lg-5.w-auto.px-0
                          .contacts__item.d-flex.align-items-center.h5.text-nowrap.mr-4
                            +icon('placemark','contacts__icon h3 color-theme-brand mr-lg-2')
                            span.d-none.d-lg-block г. Ростов-на-Дону
                          a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mr-4(href="#")
                            +icon('phone','contacts__icon h3 color-theme-brand mr-lg-2')
                            span.d-none.d-lg-block +7 (365) 277-70-68
                        nav.social.d-flex.align-items-center
                          a.social__item.color-theme-brand.mr-4.mr-lg-3(href="#")
                            +icon('wapp-filled','h3')
                          a.social__item.color-theme-brand(href="#")
                            +icon('tg-filled','h3')
                    .col-xl-5.col-lg-10.d-none.d-lg-block
                        nav.header__nav.d-flex.align-items-center.justify-content-xl-end.justify-content-between
                            a.header__nav-item.mr-4(href="#") Скидки и акции
                            a.header__nav-item.mr-4(href="#") Бонусные рубли
                            a.header__nav-item(href="#") Контакты
                    .col-xl-1.col-lg-2.col-4.d-flex.align-items-xl-start.justify-content-end
                      .menu
                        button.menu__title.d-flex.align-items-center(type="button")
                          span.mr-1 Помощь
                          +icon('dropdown','menu__icon h6')
                        .menu__wrapper
            .header__wrapper
                .header__col.header__col_logo.col-xl-4.col-lg-5.mb-3
                    a.logo.color-theme-brand.mr-4(href="#")
                      +svg('logo')
                    nav.header__nav.d-flex.align-items-center.justify-content-center
                        a.header__btn.text-uppercase.mr-3(href="#")
                          +icon('menu','header__btn-icon mr-lg-2')
                          span.header__btn-title Каталог
                        a.header__btn.text-uppercase(href="#")
                          +icon('services','header__btn-icon mr-lg-2')
                          span.header__btn-title Услуги
                .header__col.header__col_search.col-xl-3.mb-3
                    form.search(action="#" method="post")
                        input.search__field(type="text" placeholder="Я ищу..." value="")
                        button.search__btn(type="submit")
                          +icon('search')
                .header__col.header__col_nav.col-xl-5.col-lg-7.flex-grow-1.flex-lg-grow-0.mb-3
                    nav.header__nav.d-flex.align-items-center.justify-content-lg-start.justify-content-between.flex-grow-1.mr-lg-5
                        button.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap.d-lg-none(type="button")
                            span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                              +icon('search')
                            span.header__btn-title Поиск
                        a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap.col-lg-3(href="#")
                            span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                              +icon('compare')
                            span.header__btn-title Сравнить
                        a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap.col-lg-3(href="#")
                            span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                              +icon('car')
                            span.header__btn-title Выбор авто
                        a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap.col-lg-3(href="#")
                            span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                              +icon('case')
                            span.header__btn-title Заказы
                        a.header__nav-item.header__nav-item_col.d-flex.flex-column.text-center.text-nowrap.col-lg-3(href="#")
                            span.header__nav-icon.d-flex.flex-column.align-items-center.justify-content-center
                              +icon('user')
                            span.header__btn-title Вход | регистрация
                    a.header__btn.text-uppercase.header__btn_inverse(href="#")
                      +icon('cart','header__btn-icon')
            .header__bottom
                nav.topmenu.swiper-container
                    .topmenu__wrapper.swiper-wrapper
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Автошины
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Мотошины
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Диски
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Аккумуляторы
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Масла
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Автотовары
                        .swiper-slide.w-auto
                            a.topmenu__item(href="#") Шиномонтаж
            block filter

    block wrapper

    block footer
        footer.footer.h6.color-theme-white.bg-theme-brand
            .wrapper.d-flex.flex-wrap
                .col-lg-2.col-md-3
                    nav.footer__nav.d-flex.flex-column.pr-xl-5.pr-md-4.mb-5.mb-lg-0
                        .footer__nav-title.h4 Каталог
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Шины
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Диски
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Мотошины
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Акб
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Масла
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Автотовары
                .col-lg-2.col-md-3
                    nav.footer__nav.d-flex.flex-column.pr-xl-5.pr-md-4.mb-5.mb-lg-0
                        .footer__nav-title.h4 Услуги
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Шиномонтаж
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Сезонное хранение шин и дисков
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Заправка автокондиционеровов
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Прокатка дисков
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Покраска дисков
                .col-lg-2.col-md-3
                    nav.footer__nav.d-flex.flex-column.pr-xl-5.pr-md-4.mb-5.mb-lg-0
                        .footer__nav-title.h4 Пользователям
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Скидки и акции
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Сравнить
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Избранное
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Подбор по авто
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Шинный калькулятор
                        a.footer__nav-item.color-theme-white.mb-2(href="#") О компании
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Новости
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Статьи
                .col-lg-2.col-md-3
                    nav.footer__nav.d-flex.flex-column.pr-xl-5.pr-md-4.mb-5.mb-lg-0
                        .footer__nav-title.h4 Помощь
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Контакты
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Вопросы и ответы
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Оплата и доставка
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Кредит
                        a.footer__nav-item.color-theme-white.mb-2(href="#") КупиВкредит
                        a.footer__nav-item.color-theme-white.mb-2(href="#") Политика конфиденциальности
                .col-xl-3.offset-xl-1.col-lg-4.col-md-6
                  a.logo.color-theme-white.mb-4(href="#")
                    +svg('logo')
                  .row.align-items-center
                    .col-8
                      .contacts.mb-2
                        .contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-1
                          +icon('placemark','contacts__icon h3 text-center color-theme-white mr-2')
                          span.color-theme-white г. Ростов-на-Дону
                        a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-1(href="#")
                          +icon('phone-nobg','contacts__icon h3 text-center color-theme-white mr-2')
                          span.color-theme-white +7 (365) 277-70-68
                        a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-1(href="#")
                          +icon('email','contacts__icon h3 text-center color-theme-white mr-2')
                          span.color-theme-white office@don-shina.ru
                    .col-4
                      nav.social.d-flex.flex-wrap.align-items-center
                        a.social__item.color-theme-white.mr-4.mr-lg-3(href="#")
                          +icon('wapp','h3')
                        a.social__item.color-theme-white(href="#")
                          +icon('tg','h3')
                  .mb-2
                    +img('visa.png')
                    +img('mc.png')
                  .copyright © 2021 Все права защищены.

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js")
    script(src="https://unpkg.com/swiper@5.4.1/js/swiper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/formstone/1.4.20/js/core.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/formstone/1.4.20/js/dropdown.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/formstone/1.4.20/js/touch.js")
    script(src="https://refreshless.com/nouislider/documentation/assets/wNumb.js")

//-
    + pug/tile - товары и баннеры в плитке на стр. результатов results-tires.html http://dl3.joxi.net/drive/2021/11/04/0050/2358/3311926/26/d2900e3683.jpg
    + pug/tile/wheels - товары и баннеры на стр. результатов results-wheels.html
    + pug/carousel - товары карусели "Рекомедуем также" http://dl3.joxi.net/drive/2021/11/04/0050/2358/3311926/26/ae6f72a0c4.jpg
    + pug/positions - товары блока "Часто выбирают:" http://dl3.joxi.net/drive/2021/11/04/0050/2358/3311926/26/bce77beaf9.jpg
    + pug/category/carousel.pug - "Рекомедуем также", шины
    + pug/category/wheels.pug - "Рекомедуем также", диски
    + pug/category/popular.pug - "Часто выбирают:"

  subcategory-tires-list.pug
    tile/row.pug
  subcategory-tires-tile.pug
    tile/category.pug

  comparing.pug
    carousel/comparing.pug
    carousel/comparing-noparamtitle.pug

  .slides_togglers-next в category/popular.pug
  _swiper.scss - перебрать
    + _sales
    + _section
    + _common
  _card
  _tabs
  _form - внутренние отступы и стили текста

    + _section:
    + include base/callorder.pug
    + include base/subscribe.pug

    + padding
    + px
    + py
    + @include offset()

    + service.pug - изменить вёрстку promo
    + избавиться от .content__date и прочих похожих
    + flex-grow: 1 -> flex-grow-1

    + вернуть фон кнопки фильтра results-tires.pug в стили

  contacts.pug - поправить баг с аккордеоном

  _media:
  border-radius и box-shadow - найти
  и другие страницы
