extends checkout

block meta
  - var title = 'Доставка';

block checkout
  form.section.py-0.mb-3(action="#")
    .border-bottom.d-flex.align-items-center.px-md-4.px-3.py-2
      span.section-counter.h4.rounded-circle.bg-theme-brand.color-theme-white.mr-2
        +icon('checked','color-theme-white')
      .h3.flex-grow-1.font-weight-bold.color-theme-brand Дополнительные услуги
      button.btn.btn_nobg.h5.h-auto.p-0(type="button")
        span.mr-sm-2(style="width:20px;height:24px;")
          +svg('edit','icon-fluid color-theme-brand h3')
        //- +icon('edit','color-theme-brand h3 mr-2')
        .d-none.d-sm-block Изменить
  form.section.py-0.mb-3(action="#")
    .border-bottom.d-flex.align-items-center.px-md-4.px-3.py-2
      span.section-counter.h4.rounded-circle.bg-theme-brand.color-theme-white.mr-2
        +icon('checked','color-theme-white')
      .h3.flex-grow-1.font-weight-bold.color-theme-brand Покупатель
      button.btn.btn_nobg.h5.h-auto.p-0(type="button")
        span.mr-sm-2(style="width:20px;height:24px;")
          +svg('edit','icon-fluid color-theme-brand h3')
        //- +icon('edit','color-theme-brand h3 mr-2')
        .d-none.d-sm-block Изменить
    .desclist.desclist.px-md-4.px-3.py-md-4.py-3
      .d-flex.align-items-center.mb-1
        .desclist__title.h6.d-block.overflow-hidden.px-0.col-md-4 Ваше имя:
        .h5.col-md-8 Сергей
      .d-flex.align-items-center.mb-1
        .desclist__title.h6.d-block.overflow-hidden.px-0.col-md-4 Номер телефона:
        .h5.col-md-8 +7 (989) 726-18-85
      .d-flex.align-items-center
        .desclist__title.h6.d-block.overflow-hidden.px-0.col-md-4 E-mail:
        .h5.col-md-8 glumglam@gmail.com
  form.section.py-0.mb-3(action="#")
    .border-bottom.d-flex.align-items-center.px-md-4.px-3.py-2
      span.section-counter.h3.rounded-circle.bg-theme-brand.color-theme-white.mr-2 3
      .h3.flex-grow-1.font-weight-bold.color-theme-brand Доставка
    .form.border-bottom.px-md-4.px-3.pb-md-4.pb-3
      .h6.color-theme-disabled.mb-3 Тип платильщика
      input.form__toggler.form__toggler_checkbox(id="checkout-service-1" type="checkbox" value="")
      label.form__label.form__label_checkbox.mb-4(for="checkout-service-1")
        +icon('checked','form__label-icon')
        span.form__label-title Физическое лицо
      input.form__toggler.form__toggler_checkbox(id="checkout-service-2" type="checkbox" value="")
      label.form__label.form__label_checkbox(for="checkout-service-2")
        +icon('checked','form__label-icon')
        span.form__label-title Юридическое лицо
    .form.border-bottom.px-md-4.px-3.pb-md-4.pb-3
      .h6.color-theme-disabled.mb-3 Тип доставки
      input.form__toggler.form__toggler_radio(id="checkout-delivery-1" type="radio" name="delivery" value="")
      label.form__label.form__label_radio(for="checkout-delivery-1")
        span.form__label-title Самовывоз (0₽)
    .px-md-4.px-3.py-3.text-right
      button.btn.text-uppercase.px-5(type="button") Далее
  form.section.py-0.mb-3(action="#")
    .border-bottom.d-flex.align-items-center.px-md-4.px-3.py-2
      span.section-counter.h3.rounded-circle.bg-theme-brand.color-theme-white.mr-2 4
      .h3.flex-grow-1.font-weight-bold.color-theme-brand Оплата
