extends base

block meta
  - var title = 'Страница сравнения';

block wrapper
  .container.container_wrapper
    nav.pathway
      a.pathway__link(href="#") Главная
      a.pathway__current(href="#") Сравнить
    section.content
      h1 Сравнить

    .section.mb-3
      form.form.row.align-items-center(action="#")
        .col-xl-8.col-lg-6.col-md-4.d-flex.flex-wrap.align-items-center.mb-md-4.mb-2
          .h3.font-weight-bold.mr-3 Шины:
          .toggler.toggler_success.mb-0 7 шт.
        .col-xl-2.col-lg-3.col-md-4.col-9.mb-4
          input.form__toggler.form__toggler_checkbox(id="param-1" type="checkbox" value="")
          label.form__label(for="param-1")
            span.form__label-icon
              svg.icon-fluid
                use(xlink:href="#icon-checked")
            span.form__label-title Показать только различия
        .col-xl-2.col-lg-3.col-md-4.col-3.d-flex.justify-content-end.mb-4
          button.btn.btn_icon.btn_nobg(type="button")
            svg.btn__icon.color-brand.mr-md-2
              use(xlink:href="#icon-trash")
            span.d-md-block.d-none Очистить список
      include category/comparing.pug

    .section.mb-3
      form.form.row.align-items-center(action="#")
        .col-xl-8.col-lg-6.col-md-4.d-flex.flex-wrap.align-items-center.mb-md-4.mb-2
          .h3.font-weight-bold.mr-3 Шины:
          .toggler.toggler_success.mb-0 7 шт.
        .col-xl-2.col-lg-3.col-md-4.col-9.mb-4
          input.form__toggler.form__toggler_checkbox(id="param-1" type="checkbox" value="")
          label.form__label(for="param-1")
            span.form__label-icon
              svg.icon-fluid
                use(xlink:href="#icon-checked")
            span.form__label-title Показать только различия
        .col-xl-2.col-lg-3.col-md-4.col-3.d-flex.justify-content-end.mb-4
          button.btn.btn_icon.btn_nobg(type="button")
            svg.btn__icon.color-brand.mr-md-2
              use(xlink:href="#icon-trash")
            span.d-md-block.d-none Очистить список
      include category/comparing.pug

    include category/popular.pug

    .section.mb-3
      .section__title Рекомендуем так же:
      include category/wheels.pug