extends base

block meta
  - var title = 'Контакты';

block wrapper
  .wrapper
    ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Главная
          meta(itemprop="position" content="1")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__current(href="#" itemprop="item")
          span(itemprop="name") #{title}
          meta(itemprop="position" content="2")
    section.content
      h1(itemprop="name") #{title}
    .row.align-items-start
      .col-xl-3.col-lg-4.order-2.order-lg-1.mb-5.mb-lg-4
        .accordion.active.mb-2(itemscope itemtype="http://schema.org/AutoPartsStore")
          .accordion__header.px-4(data-target="rnd")
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-theme-brand(type="button") ДонШина Ростов
            +img('logo.png','d-none',true)
            meta(itemprop="name" content="ДонШина Ростов")
            meta(itemprop="priceRange" content="Информация о ценах по телефону +7 (863) 22-99-99-4")
            meta(itemprop="openingHours" content="Mo-Fr 09:00-19:00")
            meta(itemprop="openingHours" content="Sa 10:00-17:00")
          .accordion__body.overflow-hidden.px-4
            .d-none(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
              meta(itemprop="latitude" content="47.244980")
              meta(itemprop="longitude" content="39.648187")
            .contacts(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              span.d-none(itemprop="postalCode") 344103
              span.d-none(itemprop="addressRegion") Ростовская область
              span.d-none(itemprop="addressLocality" content="Ростов-на-Дону")
              span.d-none(itemprop="streetAddress") ул. Доватора, 11
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-theme-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-theme-brand mr-2')
                span(itemprop="telephone") +7 (863) 22-99-99-4
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="mailto:office@don-shina.ru" itemprop="email")
                +icon('email','contacts__icon color-theme-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp','contacts__icon color-theme-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg','contacts__icon color-theme-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-theme-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
        .accordion.mb-2(itemscope itemtype="http://schema.org/AutoPartsStore")
          .accordion__header.px-4(data-target="taganrog")
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-theme-brand(type="button") ДонШина Таганрог
            +img('logo.png','d-none',true)
            meta(itemprop="name" content="ДонШина Таганрог")
            meta(itemprop="priceRange" content="Информация о ценах по телефону +7 (863) 22-99-99-4")
            meta(itemprop="openingHours" content="Mo-Fr 09:00-19:00")
            meta(itemprop="openingHours" content="Sa 10:00-17:00")
          .accordion__body.overflow-hidden.px-4
            .d-none(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
              meta(itemprop="latitude" content="47.244980")
              meta(itemprop="longitude" content="39.648187")
            .contacts(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              span.d-none(itemprop="postalCode") 344103
              span.d-none(itemprop="addressRegion") Ростовская область
              span.d-none(itemprop="addressLocality" content="Ростов-на-Дону")
              span.d-none(itemprop="streetAddress") ул. Доватора, 11
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-theme-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-theme-brand mr-2')
                span(itemprop="telephone") +7 (863) 22-99-99-4
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="mailto:office@don-shina.ru" itemprop="email")
                +icon('email','contacts__icon color-theme-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp','contacts__icon color-theme-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg','contacts__icon color-theme-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-theme-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
        .accordion(itemscope itemtype="http://schema.org/AutoPartsStore")
          .accordion__header.px-4(data-target="volgograd")
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-theme-brand(type="button") ДонШина Волгоград
            +img('logo.png','d-none',true)
            meta(itemprop="name" content="ДонШина Волгоград")
            meta(itemprop="priceRange" content="Информация о ценах по телефону +7 (863) 22-99-99-4")
            meta(itemprop="openingHours" content="Mo-Fr 09:00-19:00")
            meta(itemprop="openingHours" content="Sa 10:00-17:00")
          .accordion__body.overflow-hidden.px-4
            .d-none(itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates")
              meta(itemprop="latitude" content="47.244980")
              meta(itemprop="longitude" content="39.648187")
            .contacts(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              span.d-none(itemprop="postalCode") 344103
              span.d-none(itemprop="addressRegion") Ростовская область
              span.d-none(itemprop="addressLocality" content="Ростов-на-Дону")
              span.d-none(itemprop="streetAddress") ул. Доватора, 11
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-theme-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-theme-brand mr-2')
                span(itemprop="telephone") +7 (863) 22-99-99-4
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="mailto:office@don-shina.ru" itemprop="email")
                +icon('email','contacts__icon color-theme-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp','contacts__icon color-theme-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg','contacts__icon color-theme-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-theme-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
      .col-xl-9.col-lg-8.order-1.order-lg-2.mb-5.mb-lg-4
        #rnd.map.active.border-radius.box-shadow.overflow-hidden
          script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab61ba54858def5cc58e7cbfdae9ffac5c0d900377f9b5655fa84742b96a9c73d&amp;width=100%25&amp;height=460&amp;lang=ru_RU&amp;scroll=false")
        #taganrog.map.border-radius.box-shadow.overflow-hidden
          script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A19b26df888c0af1ab8b7aceb26328560188b48582a903a59661050e4c96a079f&amp;width=100%25&amp;height=460&amp;lang=ru_RU&amp;scroll=false")
        #volgograd.map.border-radius.box-shadow.overflow-hidden
          script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A74758b5ee4465194e02a444d5c93601d3a5240432e973a93791a8e41dc5c7c95&amp;width=100%25&amp;height=460&amp;lang=ru_RU&amp;scroll=false")

    form.section.mb-5(action="#")
      .border-bottom.px-lg-5.px-md-4.px-3.mb-3
        .h2.font-weight-bold.text-center.color-theme-brand.mb-4 Вы можете задать нам вопросы и мы ответим в ближайшее
          br
          | время
        .form.row
          .col-xl-4.offset-xl-1.col-md-5
            .form__item.mb-4
              input.form__field(type="text" value="")
              label.form__label.form__label_title Ваше имя*
            .form__item.mb-4
              input.form__field(type="text" value="")
              label.form__label.form__label_title +7 (___) ___-__-__*
            .form__item.mb-4
              input.form__field(type="text" value="")
              label.form__label.form__label_title e-mail*
          .col-xl-4.col-md-5.offset-md-2
            .form__item.mb-4
              textarea.form__field.form__field_textarea
              label.form__label.form__label_title Текст сообщения
      .px-lg-5.px-md-4.px-3
        .row.text-center.text-md-left
          .d-flex.flex-wrap.align-items-center.col-xl-7.offset-xl-1.col-lg-8.offset-lg-0.col-md-10.offset-md-1.px-0.mb-lg-0.mb-4
            .h6.col-md-6.mb-3.mb-md-0 *-поля обязательные для заполнения
            .h6.col-xl-5.col-md-6.text-center Нажимая “Подписаться” вы принимаете
              br
              | условия&nbsp;
              a.color-theme-brand(href="#") Политики конфиденциальности
          .d-flex.justify-content-lg-end.justify-content-center.col-xl-3.col-lg-4
            button.button.text-uppercase.px-5(type="submit") отправить
