extends base

block meta
  - var title = 'Контакты';

block wrapper
  .wrapper
    nav.pathway
      a.pathway__link(href="#") Главная
      a.pathway__current(href="#") #{title}
    section.content
      h1 #{title}
    .row.align-items-start
      .col-xl-3.col-lg-4.order-2.order-lg-1.mb-5.mb-lg-4
        .accordion.active.mb-2
          .accordion__header.px-4
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-brand(type="button") ДонШина Ростов
          .accordion__body.overflow-hidden.px-4
            .contacts
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-brand mr-2')
                | +7 (365) 277-70-68
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('email','contacts__icon color-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp-bordered','contacts__icon color-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg-bordered','contacts__icon color-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
        .accordion.mb-2
          .accordion__header.px-4
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-brand(type="button") ДонШина Таганрог
          .accordion__body.overflow-hidden.px-4
            .contacts
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-brand mr-2')
                | +7 (365) 277-70-68
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('email','contacts__icon color-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp-bordered','contacts__icon color-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg-bordered','contacts__icon color-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
        .accordion
          .accordion__header.px-4
            button.accordion__toggler.readmore.d-block.h3.text-left.font-weight-bold.color-brand(type="button") ДонШина Волгоград
          .accordion__body.overflow-hidden.px-4
            .contacts
              .contacts__item.d-flex.align-items-center.h5.text-wrap.mb-3
                +icon('placemark','contacts__icon color-brand mr-2')
                | г. Ростов-на-Дону; ул. Доватора, 11
              a.contacts__item.d-flex.align-items-center.h3.font-weight-bold.text-nowrap.mb-3(href="#")
                +icon('phone-nobg','contacts__icon color-brand mr-2')
                | +7 (365) 277-70-68
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('email','contacts__icon color-brand mr-2')
                | office@don-shina.ru
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('wapp-bordered','contacts__icon color-brand mr-2')
                | WhatsApp
              a.contacts__item.d-flex.align-items-center.h5.text-nowrap.mb-3(href="#")
                +icon('tg-bordered','contacts__icon color-brand mr-2')
                | Telegram
              a.contacts__item.d-flex.align-items-start.h5(href="#")
                +icon('time','contacts__icon color-brand mr-2')
                span Режим работы:
                  br
                  | Пн.–Пт. 09:00–19:00,
                  br
                  | Сб. – 09:00–17:00,
                  br
                  | Вс. – Выходной
      .section.col-xl-9.col-lg-8.order-1.order-lg-2.mb-5.mb-lg-4
        .section__wrapper.section__wrapper_px.overflow-hidden.p-0
          script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab61ba54858def5cc58e7cbfdae9ffac5c0d900377f9b5655fa84742b96a9c73d&amp;width=100%25&amp;height=460&amp;lang=ru_RU&amp;scroll=false")

    .section
      .section__wrapper.px-3.px-md-0
        .section__title.text-center.color-brand Вы можете задать нам вопросы и мы ответим в ближайшее
          br
          | время
        form.form(action="#")
          .form__header.p-0.mb-3
            //- .justify-content-center.justify-content-xl-start
            .row
              .col-xl-3.offset-xl-2.col-lg-4.col-md-5.offset-md-1
                .form__item.mb-4
                  input.form__field(type="text" value="")
                  label.form__label.form__label_title Ваше имя*
                .form__item.mb-4
                  input.form__field(type="text" value="")
                  label.form__label.form__label_title +7 (___) ___-__-__*
                .form__item.mb-4
                  input.form__field(type="text" value="")
                  label.form__label.form__label_title e-mail*
              .col-xl-3.col-lg-4.offset-lg-2.col-md-5
                .form__item.mb-4
                  textarea.form__field.form__field_textarea
                  label.form__label.form__label_title Текст сообщения
          //- .justify-content-center.justify-content-xl-start
          .row.text-center.text-md-left
            .form__footer.d-flex.flex-wrap.align-items-center.col-xl-6.offset-xl-2.col-lg-7.col-md-10.offset-md-1.px-0.mb-4.mb-lg-0
              .col-md-6.mb-3.mb-md-0 *-поля обязательные для заполнения
              .col-md-6 Нажимая “Подписаться” вы принимаете
                br
                | условия
                a.color-brand(href="#") Политики конфиденциальности
            .d-flex.justify-content-center.justify-content-lg-end.col-xl-2.col-lg-3.offset-lg-0.col-md-10.offset-md-1
              button.btn.text-uppercase.px-5(type="submit") отправить
