extends base

block meta
  - var title = 'Подбор АКБ';

block filter
  .header__footer
    button.filter-toggler.d-flex.align-items-center.justify-content-center.p-2(type="button")
      +icon('filter','filter-toggler__icon h4 mr-2')
      span.filter-toggler__title
        span.filter-toggler__show Показать
        span.filter-toggler__hide Скрыть
        | фильтр

block wrapper
    .wrapper
      nav.pathway
        a.pathway__link(href="#") Главная
        a.pathway__current(href="#") #{title}
      section.content
        h1 #{title}
      .category-counter.mb-4 1 840 товаров в 4 каталогах
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          .filter.filter_sticky
            .filter__body
              form.form.form_bg.form_filter(action="#")
                .form__header.d-flex.align-items-center.justify-content-between.d-lg-block
                  .form__title.form__title_icon.text-nowrap.d-flex.align-items-center.h3.font-weight-bold.color-theme-brand.mb-0.mb-lg-2
                    +icon('battery','form__title-icon h3 mr-2')
                    | #{title}
                  button.btn-unstyled.h6(type="reset") Сбросить
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Параметры
                  .row
                    .col-6.col-lg-12
                      .form__select.mb-lg-4
                        .form__select-title Полярность
                        select.form__select-options
                          option --
                          option Значение 1
                          option Значение 2
                          option Значение 3
                          option Значение 4
                          option Значение 5
                          option Значение 6
                          option Значение 7
                          option Значение 8
                    .col-6.col-lg-12
                      .form__select
                        .form__select-title Ёмкость
                        select.form__select-options
                          option --
                          option Значение 1
                          option Значение 2
                          option Значение 3
                          option Значение 4
                          option Значение 5
                          option Значение 6
                          option Значение 7
                          option Значение 8
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Цена, ₽
                  .row.mb-3
                    .form__item.col-6
                      label.form__label.form__label_plain.color-theme-disabled От
                      input#price-min.form__field(type="text" value="")
                    .form__item.col-6
                      label.form__label.form__label_plain.color-theme-disabled До
                      input#price-max.form__field(type="text" value="")
                  #price-ranger.form__slider
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Наличие
                  input.form__toggler.form__toggler_checkbox(id="instock" type="checkbox" value="")
                  label.form__label(for="instock")
                    +icon('checked', 'form__label-icon')
                    span.form__label-title Сейчас в наличии
                .form__section.border-0.pb-0
                  .form__section-title.h6.color-theme-disabled.mb-4 Бренд
                  .form__item.mb-4
                    input.form__field(type="text" value="")
                    label.form__label.form__label_title Введите название
                  .row
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Michelin" type="checkbox" value="")
                      label.form__label.mb-4(for="Michelin")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Michelin
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Cordiant" type="checkbox" value="")
                      label.form__label.mb-4(for="Cordiant")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Cordiant
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Pirelli" type="checkbox" value="")
                      label.form__label.mb-4(for="Pirelli")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Pirelli
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Hankook" type="checkbox" value="")
                      label.form__label.mb-4(for="Hankook")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Hankook
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Yokohama" type="checkbox" value="")
                      label.form__label.mb-4(for="Yokohama")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Yokohama
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Goodyear" type="checkbox" value="")
                      label.form__label.mb-4(for="Goodyear")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Good year
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Continental" type="checkbox" value="")
                      label.form__label.mb-4(for="Continental")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Continental
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Bridgestone" type="checkbox" value="")
                      label.form__label.mb-4(for="Bridgestone")
                        +icon('checked', 'form__label-icon')
                        span.form__label-title Bridgestone
                .text-center
                  button.btn-unstyled.h6(type="submit")
                    span.readmore.readmore_arrow-down Показать еще
              .filter__alert.d-flex.align-items-center.justify-content-between.flex-lg-column.color-theme-white.bg-theme-brand.px-lg-3.pt-lg-1.pb-lg-3.py-3.px-4
                .filter__alert-info.h2.font-weight-bold.d-flex.align-items-center.mb-lg-1
                  .h5.font-weight-normal.mr-2 Найдено:
                  | 713
                button.btn.text-uppercase.btn_bordered.px-3(type="button") Показать

        .col-xl-10.col-lg-9.mb-4
