extends base

block meta
  - var title = 'Подбор мотошин';

block filter
  .togglebar
    button.aside-toggler.flex-grow-1.justify-content-center.px-3.py-2(type="button" data-target="#filter")
      +icon('filter', 'aside-toggler__icon h3 mr-2')
      span.pointer-events-none
        span.aside-toggler__show Показать&nbsp;
        span.aside-toggler__hide Скрыть&nbsp;
        | фильтр

block wrapper
    .wrapper
      ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a.pathway__link(href="#" itemprop="item")
            span(itemprop="name") Главная
            meta(itemprop="position" content="1")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a.pathway__current(href="#" itemprop="item")
            span(itemprop="name") #{title}
            meta(itemprop="position" content="2")
      section.content
        h1(itemprop="name") #{title}
      .category-counter.mb-4 1 840 товаров в 4 каталогах
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          #filter.aside.aside_pos_fixed
            .aside__wrapper
              form.form.form_bg.form_filter.mb-lg-3(action="#")
                .form__header.d-flex.align-items-center.justify-content-between.d-lg-block
                  .form__title.form__title_icon.d-flex.align-items-center.flex-grow-1.h4.font-weight-bold.color-theme-brand.mb-0.mb-lg-2
                    +icon('moto','form__title-icon h3 mr-1')
                    | #{title}
                  button.button-unstyled.h6(type="reset") Сбросить
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 По типоразмеру
                  .row
                    .col-sm-4.col-lg-12
                      .form__select.mb-lg-4.mb-sm-0.mb-4
                        .form__select-title Ширина
                        select.selecter
                          option --
                          option Значение 1
                          option Значение 2
                          option Значение 3
                          option Значение 4
                          option Значение 5
                          option Значение 6
                          option Значение 7
                          option Значение 8
                    .col-sm-4.col-lg-12
                      .form__select.mb-lg-4.mb-sm-0.mb-4
                        .form__select-title Высота
                        select.selecter
                          option --
                          option Значение 1
                          option Значение 2
                          option Значение 3
                          option Значение 4
                          option Значение 5
                          option Значение 6
                          option Значение 7
                          option Значение 8
                    .col-sm-4.col-lg-12
                      .form__select
                        .form__select-title Диаметр
                        select.selecter
                          option --
                          option Значение 1
                          option Значение 2
                          option Значение 3
                          option Значение 4
                          option Значение 5
                          option Значение 6
                          option Значение 7
                          option Значение 8
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Oсь
                  input.form__toggler.form__toggler_checkbox(id="param-1" type="checkbox" value="")
                  label.form__label.h5.mb-4(for="param-1")
                    +icon('checked','form__label-icon')
                    span.form__label-title Передние
                  input.form__toggler.form__toggler_checkbox(id="param-2" type="checkbox" value="")
                  label.form__label.h5.mb-4(for="param-2")
                    +icon('checked','form__label-icon')
                    span.form__label-title Задние
                  input.form__toggler.form__toggler_checkbox(id="param-3" type="checkbox" value="")
                  label.form__label.h5(for="param-3")
                    +icon('checked','form__label-icon')
                    span.form__label-title Универсальные
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Применяемость
                  .form__select
                    .form__select-title Выберете марку
                    select.selecter
                      option --
                      option Значение 1
                      option Значение 2
                      option Значение 3
                      option Значение 4
                      option Значение 5
                      option Значение 6
                      option Значение 7
                      option Значение 8
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Цена, ₽
                  .row.mb-3
                    .form__item.col-6
                      label.form__label.form__label_plain.h5.color-theme-disabled От
                      input#price-min.form__field(type="text" value="")
                    .form__item.col-6
                      label.form__label.form__label_plain.h5.color-theme-disabled До
                      input#price-max.form__field(type="text" value="")
                  #price-ranger.form__slider
                .form__section
                  .form__section-title.h6.color-theme-disabled.mb-4 Наличие
                  input.form__toggler.form__toggler_checkbox(id="instock" type="checkbox" value="")
                  label.form__label.h5(for="instock")
                    +icon('checked','form__label-icon')
                    span.form__label-title Сейчас в наличии
                .form__section.border-0.pb-0
                  .form__section-title.h6.color-theme-disabled.mb-4 Бренд
                  .form__item.mb-4
                    input.form__field(type="text" value="")
                    label.form__label.form__label_title Введите название
                  #brand.form__list.row
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Michelin-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Michelin-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Michelin
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Cordiant-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Cordiant-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Cordiant
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Pirelli-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Pirelli-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Pirelli
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Hankook-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Hankook-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Hankook
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Yokohama-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Yokohama-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Yokohama
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Goodyear-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Goodyear-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Good year
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Continental-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Continental-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Continental
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Bridgestone-1" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Bridgestone-1")
                        +icon('checked','form__label-icon')
                        span.form__label-title Bridgestone
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Michelin" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Michelin")
                        +icon('checked','form__label-icon')
                        span.form__label-title Michelin
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Cordiant" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Cordiant")
                        +icon('checked','form__label-icon')
                        span.form__label-title Cordiant
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Pirelli" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Pirelli")
                        +icon('checked','form__label-icon')
                        span.form__label-title Pirelli
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Hankook" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Hankook")
                        +icon('checked','form__label-icon')
                        span.form__label-title Hankook
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Yokohama" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Yokohama")
                        +icon('checked','form__label-icon')
                        span.form__label-title Yokohama
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Goodyear" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Goodyear")
                        +icon('checked','form__label-icon')
                        span.form__label-title Good year
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Continental" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Continental")
                        +icon('checked','form__label-icon')
                        span.form__label-title Continental
                    .col-6
                      input.form__toggler.form__toggler_checkbox(id="Bridgestone" type="checkbox" value="")
                      label.form__label.h5.mb-4(for="Bridgestone")
                        +icon('checked','form__label-icon')
                        span.form__label-title Bridgestone
                .d-flex.justify-content-center
                  button.readmore.d-flex.align-items-center(type="submit" data-toggle="list" data-target="#brand")
                    span.h6.mr-2.pointer-events-none Показать еще
                    +icon('readmore','h3 color-theme-brand readmore__icon')
              .aside__alert.d-flex.align-items-center.justify-content-between.flex-lg-column.color-theme-white.bg-theme-brand.px-lg-3.pt-lg-1.pb-lg-3.py-3.px-4
                .aside__alert-info.h2.font-weight-bold.d-flex.align-items-center.mb-lg-1
                  .h5.font-weight-normal.mr-2 Найдено:
                  | 713
                button.button.text-uppercase.button_bordered.px-3(type="button") Показать

        .col-xl-10.col-lg-9.mb-4
