extends base

block meta
  - var title = 'Список страниц';

block header

block wrapper
  - var pages = [{alias: 'main.html', title: 'Главная'}, {alias: 'contacts.html', title: 'Контакты'}, {alias: 'sales.html', title: 'Скидки и акции'}, {alias: 'sales-item.html', title: 'Страница акции'}, {alias: 'service.html', title: 'Страница услуги'}, {alias: 'articles__row.html', title: 'Статьи (списком)'}, {alias: 'articles__cols.html', title: 'Статьи (плиткой)'}, {alias: 'article__item.html', title: 'Страница статьи (стандартная)'}, {alias: 'article__item_video.html', title: 'Страница статьи (с видео)'}, {alias: 'position.html', title: 'Страница товара - <span class="font-weight-bold">добавлено</span>'}, {alias: 'category.html', title: 'Категория каталога (автотовары) - <span class="font-weight-bold">добавлено</span>'}, {alias: 'category-tires.html', title: 'Категория каталога (шины)'}, {alias: 'category-wheels.html', title: 'Категория каталога (диски, мотошины, масла, акб)'}, {alias: 'subcategory.html', title: 'Подкатегория каталога (с фильтром) - <span class="font-weight-bold">добавлено</span>'}, {alias: 'subcategory-sidebar.html', title: 'Подкатегория каталога (с левым меню) - <span class="font-weight-bold">добавлено</span>'}, {alias: 'subcategory-tires-list.html', title: 'Подкатегория каталога (серия бренда шин), список - <span class="font-weight-bold">добавлено</span>'}, {alias: 'subcategory-tires-tile.html', title: 'Подкатегория каталога (серия бренда шин), плитка - <span class="font-weight-bold">добавлено</span>'}, {alias: 'results.html', title: 'Результаты поиска по сайту'}, {alias: 'results-auto.html', title: 'Результаты подбора по авто - <span class="font-weight-bold">в разработке</span>'}, {alias: 'results-tires.html', title: 'Результаты подбора шин'}, {alias: 'results-wheels.html', title: 'Результаты подбора дисков'}, {alias: 'filter-battery.html', title: 'Фильтр, подбор АКБ'}, {alias: 'filter-motowheels.html', title: 'Фильтр, подбор мотошин'}, {alias: 'filter-oil.html', title: 'Фильтр, подбор автомасел'}, {alias: 'comparing.html', title: 'Страница сравнения - <span class="font-weight-bold">настроить отображение карточек только с разными значениями</span>'}, {alias: 'cart.html', title: 'Корзина - <span class="font-weight-bold">добавлено</span>'}, {alias: 'checkout.html', title: 'Оформление заказа, дополнительные услуги - <span class="font-weight-bold">добавлено</span>'}, {alias: 'checkout__customer.html', title: 'Оформление заказа, покупатель - <span class="font-weight-bold">добавлено</span>'}, {alias: 'checkout__delivery.html', title: 'Оформление заказа, доставка - <span class="font-weight-bold">добавлено</span>'}, {alias: 'checkout__payment.html', title: 'Оформление заказа, оплата - <span class="font-weight-bold">добавлено</span>'}, {alias: 'personal-auto.html', title: 'ЛК, мой автомобиль (подбор по авто)'}, {alias: 'personal-auto-models.html', title: 'ЛК, мой автомобиль'}, {alias: 'personal-bonus.html', title: 'ЛК, бонусные рубли'}, {alias: 'personal-booking.html', title: 'ЛК, текущие записи - <span class="font-weight-bold">требует доработки, описано в README.md</span>'}, {alias: 'personal-bookmarks.html', title: 'ЛК, избранное'}, {alias: 'personal-orders.html', title: 'ЛК, текущие заказы'}, {alias: 'personal-pwd.html', title: 'ЛК, смена пароля'}, {alias: 'personal-user.html', title: 'ЛК, данные пользователя'}, {alias: 'personal-vin.html', title: 'ЛК, подбор по VIN-коду'}]
  - var ui = [{alias: 'ui.html', title: 'Элементы интерфейса (будет дополняться)'}, {alias: 'ui_icons.html', title: 'Иконки'}, {alias: 'ui_header.html', title: 'Шапка'}, {alias: 'ui_footer.html', title: 'Подвал'}, {alias: 'ui_modals.html', title: 'Модальные окна - <span class="font-weight-bold">окно успешного оформления заказа добавлено</span>'}, {alias: 'ui_carousel.html', title: 'Скроллеры'}, {alias: 'ui_popular.html', title: 'Часто выбирают (переделать в табы)'}]
  .py-4.px-5
    .h2.font-weight-bold.mb-4 Страницы:
    ol.mb-5.px-3
      each pages__item in pages
        li.mb-3(style="list-style:decimal;")
          a.text-underline(href=(pages__item.alias) target="_blank")!= pages__item.title

    .h2.font-weight-bold.mb-4 Блоки:
    ol.mb-5.px-3
      each ui__item in ui
        li.mb-3(style="list-style:decimal;")
          a.text-underline(href=(ui__item.alias) target="_blank")!= ui__item.title

block footer
