extends base

block meta
  - var title = 'Список страниц';

block header

block wrapper
  - var pages = [{alias: 'main.html', title: 'Главная'}, {alias: 'contacts.html', title: 'Контакты'}, {alias: 'sales.html', title: 'Скидки и акции'}, {alias: 'sales-item.html', title: 'Страница акции'}, {alias: 'service.html', title: 'Страница услуги'}, {alias: 'articles.html', title: 'Статьи'}, {alias: 'articles-item.html', title: 'Страница статьи'}, {alias: 'position.html', title: 'Страница товара'}, {alias: 'category.html', title: 'Категория каталога (автотовары)'}, {alias: 'category-tires.html', title: 'Категория каталога (шины)'}, {alias: 'category-wheels.html', title: 'Категория каталога (диски, мотошины, масла, акб)'}, {alias: 'subcategory.html', title: 'Подкатегория каталога (автотовары)'}, {alias: 'subcategory-tires-list.html', title: 'Подкатегория каталога (серия бренда шин)'}, {alias: 'subcategory-tires-tile.html', title: 'Подкатегория каталога (серия бренда шин)'}, {alias: 'results.html', title: 'Результаты поиска по сайту'}, {alias: 'results-auto.html', title: 'Результаты подбора по авто'}, {alias: 'results-tires.html', title: 'Результаты подбора шин'}, {alias: 'results-wheels.html', title: 'Результаты подбора дисков'}, {alias: 'filter-battery.html', title: 'Фильтр, подбор АКБ'}, {alias: 'filter-motowheels.html', title: 'Фильтр, подбор мотошин'}, {alias: 'filter-oil.html', title: 'Фильтр, подбор автомасел'}, {alias: 'comparing.html', title: 'Страница сравнения'}, {alias: 'cart.html', title: 'Корзина'}, {alias: 'personal.html', title: 'Личный кабинет'}, {alias: 'personal-auto.html', title: 'ЛК, мой автомобиль (подбор по авто)'}, {alias: 'personal-auto-models.html', title: 'ЛК, мой автомобиль'}, {alias: 'personal-bonus.html', title: 'ЛК, бонусные рубли'}, {alias: 'personal-booking.html', title: 'ЛК, текущие записи'}, {alias: 'personal-bookmarks.html', title: 'ЛК, избранное'}, {alias: 'personal-orders.html', title: 'ЛК, текущие заказы'}, {alias: 'personal-pwd.html', title: 'ЛК, смена пароля'}, {alias: 'personal-user.html', title: 'ЛК, данные пользователя'}, {alias: 'personal-vin.html', title: 'ЛК, подбор по VIN-коду'}]
  ol.py-4.px-5
    each pages__item in pages
      li.mb-3(style="list-style:decimal;")
        a.text-underline(href=(pages__item.alias) target="_blank") #{pages__item.title}

block footer