extends base

block meta
  - var title = 'Главная';

block wrapper
    .wrapper
        .tabs.mb-5
            ul.tabs__nav.nav.nav-tabs(role="tablist")
                li.tabs__nav-item.flex-grow-1.nav-item
                    a.tabs__nav-link.tabs__nav-link_notitle.nav-link.active(href="#filter-tires" data-toggle="tab" role="tab" aria-controls="filter-tires" aria-selected="true")
                        svg.tabs__nav-icon
                            use(xlink:href="#icon-tires")
                        span.tabs__nav-title Подбор шин
                li.tabs__nav-item.flex-grow-1.nav-item
                    a.tabs__nav-link.tabs__nav-link_notitle.nav-link(href="#filter-wheels" data-toggle="tab" role="tab" aria-controls="filter-wheels" aria-selected="false")
                        svg.tabs__nav-icon
                            use(xlink:href="#icon-wheels")
                        span.tabs__nav-title Подбор дисков
                li.tabs__nav-item.flex-grow-1.nav-item
                    a.tabs__nav-link.tabs__nav-link_notitle.nav-link(href="#filter-cars" data-toggle="tab" role="tab" aria-controls="filter-cars" aria-selected="false")
                        svg.tabs__nav-icon
                            use(xlink:href="#icon-car")
                        span.tabs__nav-title Подбор по авто
            .tabs__content.tab-content
                form.form.tab-pane.fade.show.active(id="filter-tires" role="tabpanel" action="#")
                    .row.align-items-center
                        .col-lg-2.offset-lg-2
                            .form__select.mb-4
                                .form__select-title Ширина
                                select.form__select-options
                                    option --
                                    option 5
                                    option 6.5
                                    option 7
                                    option 10.5
                                    option 12.5
                                    option 30
                        .col-lg-1.d-none.d-lg-block
                            .form__divider.text-center.mb-4 /
                        .col-lg-2
                            .form__select.mb-4
                                .form__select-title Высота
                                select.form__select-options
                                    option --
                                    option 9.5
                                    option 10
                                    option 10.5
                                    option 11.5
                                    option 12.5
                                    option 13.5
                        .col-lg-1.d-none.d-lg-block
                            .form__divider.text-center.mb-4 R
                        .col-lg-2
                            .form__select.mb-4
                                .form__select-title Диаметр
                                select.form__select-options
                                    option --
                                    option 10
                                    option 12
                                    option 12C
                                    option 13
                                    option 13C
                    .row
                        .form__row.col-lg-8.offset-lg-2
                            input.form__toggler.form__toggler_checkbox(id="tires-checkbox-1" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="tires-checkbox-1")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-allseason")
                                span.form__label-title Всесезонные
                            input.form__toggler.form__toggler_checkbox(id="tires-checkbox-2" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="tires-checkbox-2")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-summer")
                                span.form__label-title Летние
                            input.form__toggler.form__toggler_checkbox(id="tires-checkbox-3" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="tires-checkbox-3")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-winter")
                                span.form__label-title Зимние
                            input.form__toggler.form__toggler_checkbox(id="tires-checkbox-4" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="tires-checkbox-4")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-spikes")
                                span.form__label-title Шипы
                            input.form__toggler.form__toggler_checkbox(id="tires-checkbox-5" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="tires-checkbox-5")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-nonspikes")
                                span.form__label-title Без шипов
                        .col-md-8.offset-md-2.text-center
                            a.btn.text-uppercase.px-4(href="#") подобрать
                form.form.tab-pane.fade(id="filter-wheels" role="tabpanel" action="#")
                    .row
                        .form__row.col-lg-10.offset-lg-1
                            .form__col.pr-md-4.pr-xl-0
                                .form__select.mb-4
                                    .form__select-title Диаметр
                                    select.form__select-options
                                        option --
                                        option 10
                                        option 12
                                        option 12C
                                        option 13
                            .form__col.pr-md-4.pr-xl-0
                                .form__select.mb-4
                                    .form__select-title Ширина
                                    select.form__select-options
                                        option --
                                        option 5
                                        option 6.5
                                        option 7
                                        option 10.5
                                        option 12.5
                                        option 30
                            .form__col.pr-md-4.pr-xl-0
                                .form__select.mb-4
                                    .form__select-title Отверстий
                                    select.form__select-options
                                        option --
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 8
                                        option 10
                            .form__col.pr-md-4.pr-xl-0
                                .form__select.mb-4
                                    .form__select-title PCD
                                    select.form__select-options
                                        option --
                                        option 98
                                        option 10
                                        option 105
                                        option 107.95
                                        option 108
                                        option 110
                        .form__row.col-lg-6.offset-lg-3.col-md-8.offset-md-2
                            input.form__toggler.form__toggler_checkbox(id="wheels-checkbox-11" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="wheels-checkbox-11")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-iron")
                                span.form__label-title Кованые
                            input.form__toggler.form__toggler_checkbox(id="wheels-checkbox-21" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="wheels-checkbox-21")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-founding")
                                span.form__label-title Литые
                            input.form__toggler.form__toggler_checkbox(id="wheels-checkbox-31" type="checkbox" value="")
                            label.form__label.form__label_checkbox.mb-4(for="wheels-checkbox-31")
                                span.form__label-icon
                                    svg.icon-fluid
                                        use(xlink:href="#icon-checked")
                                svg.icon-marker.mr-2
                                    use(xlink:href="#icon-steel")
                                span.form__label-title Стальные
                        .col-md-10.offset-md-1.text-center
                            a.btn.text-uppercase.px-4(href="#") подобрать
                form.form.tab-pane.fade(id="filter-cars" role="tabpanel" action="#")
                    .row
                        .form__row.col-lg-10.offset-lg-1
                            .form__col.pr-md-4.pr-xl-0
                                .dropdown.mb-4
                                    select.car-selectd.d-none
                                        option Значение 1
                                        option Значение 2
                                        option Значение 3
                                        option Значение 4
                                        option Значение 5
                                    button.dropdown-toggle(id="filter-cars-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Выберете марку
                                    .dropdown-menu(aria-labelledby="filter-cars-dropdown")
                                        .dropdown-menu__header.mb-2.bs-searchbox
                                            input.dropdown__field(type="search" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-5" aria-autocomplete="list")
                                        .dropdown-menu__body
                                            ul.dropdown-menu__list
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 1
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 2
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 3
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option.selected(role="option") Значение 4
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 5
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 1
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 2
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 3
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 4
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 5
                            .form__col.pr-md-4.pr-xl-0
                                .dropdown.mb-4
                                    select.car-selectd.d-none
                                        option Значение 1
                                        option Значение 2
                                        option Значение 3
                                        option Значение 4
                                        option Значение 5
                                    button.dropdown-toggle(id="filter-cars-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled) Модель
                                    .dropdown-menu(aria-labelledby="filter-cars-dropdown")
                                        .dropdown-menu__header.mb-2.bs-searchbox
                                            input.dropdown__field(type="search" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-5" aria-autocomplete="list")
                                        .dropdown-menu__body
                                            ul.dropdown-menu__list
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 1
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 2
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 3
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option.selected(role="option") Значение 4
                            .form__col.pr-md-4.pr-xl-0
                                .dropdown.mb-4
                                    select.car-selectd.d-none
                                        option Значение 1
                                        option Значение 2
                                        option Значение 3
                                        option Значение 4
                                        option Значение 5
                                    button.dropdown-toggle(id="filter-cars-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled) Кузов
                                    .dropdown-menu(aria-labelledby="filter-cars-dropdown")
                                        .dropdown-menu__header.mb-2.bs-searchbox
                                            input.dropdown__field(type="search" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-5" aria-autocomplete="list")
                                        .dropdown-menu__body
                                            ul.dropdown-menu__list
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 1
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 2
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 3
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option.selected(role="option") Значение 4
                            .form__col.pr-md-4.pr-xl-0
                                .dropdown.mb-4
                                    select.car-selectd.d-none
                                        option Значение 1
                                        option Значение 2
                                        option Значение 3
                                        option Значение 4
                                        option Значение 5
                                    button.dropdown-toggle(id="filter-cars-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled) Двигатель
                                    .dropdown-menu(aria-labelledby="filter-cars-dropdown")
                                        .dropdown-menu__header.mb-2.bs-searchbox
                                            input.dropdown__field(type="search" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-5" aria-autocomplete="list")
                                        .dropdown-menu__body
                                            ul.dropdown-menu__list
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 1
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 2
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option(role="option") Значение 3
                                                li.dropdown-menu__list-item
                                                    a.dropdown-menu__list-option.selected(role="option") Значение 4
                        .col-lg-10.offset-lg-1
                            .form__title Наиболее популярные:
                            .text-center.mb-1
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/acura.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/toyota.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/suzuki.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/nissan.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/bmw.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/fiat.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/mazda.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/lexus.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/mitsubishi.jpg" alt="" title="")
                                a.d-inline-block.mr-3.mb-3(href="#")
                                    img.img-fluid(src="../img/content/logo/infiniti.jpg" alt="" title="")
                    .row
                        .col-md-2.col-sm-3.col-6.offset-lg-1
                            a.result-item.mb-4(href="#")
                                span.result-item__pic
                                    img.img-fluid(src="../img/content/results/car-1.jpg" alt="" title="")
                                span.result-item__title.px-xl-3.px-lg-2.px-1 Honda CR-V Car Sport внедорожник Toyota RAV4
                        .col-md-2.col-sm-3.col-6
                            a.result-item.mb-4(href="#")
                                span.result-item__pic
                                    img.img-fluid(src="../img/content/results/car-2.jpg" alt="" title="")
                                span.result-item__title.px-xl-3.px-lg-2.px-1 Honda CR-V Car Sport внедорожник Toyota RAV4
                        .col-md-2.col-sm-3.col-6
                            a.result-item.mb-4(href="#")
                                span.result-item__pic
                                    img.img-fluid(src="../img/content/results/car-1.jpg" alt="" title="")
                                span.result-item__title.px-xl-3.px-lg-2.px-1 Honda CR-V Car Sport внедорожник Toyota RAV4
                        .col-md-2.col-sm-3.col-6
                            a.result-item.mb-4(href="#")
                                span.result-item__pic
                                    img.img-fluid(src="../img/content/results/car-2.jpg" alt="" title="")
                                span.result-item__title.px-xl-3.px-lg-2.px-1 Honda CR-V Car Sport внедорожник Toyota RAV4
                        .col-md-2.col-sm-3.col-6
                            a.result-item.mb-4(href="#")
                                span.result-item__pic
                                    img.img-fluid(src="../img/content/results/car-1.jpg" alt="" title="")
                                span.result-item__title.px-xl-3.px-lg-2.px-1 Honda CR-V Car Sport внедорожник Toyota RAV4
                    .row
                        .col-lg-10.offset-lg-1.d-flex.flex-sm-row.flex-column.align-items-center.justify-content-sm-around.justify-content-center
                            a.btn.text-uppercase.px-4.mb-4.mb-sm-0(href="#") подобрать шины
                            a.btn.text-uppercase.px-4(href="#") подобрать Диски

        .section.row
            .col-lg-7
                .banner.banner_carousel.mb-5.mb-lg-0
                    .slides.slides_banners.swiper-container
                        .swiper-wrapper
                            a.swiper-slide.px-0(href="#")
                              +img('content/slides/slide-1.jpg','img-cover')
                            a.swiper-slide.px-0(href="#")
                              +img('content/slides/slide-1.jpg','img-cover')
                            a.swiper-slide.px-0(href="#")
                              +img('content/slides/slide-1.jpg','img-cover')
                            a.swiper-slide.px-0(href="#")
                              +img('content/slides/slide-1.jpg','img-cover')
                            a.swiper-slide.px-0(href="#")
                              +img('content/slides/slide-1.jpg','img-cover')
                    .slides-banners-pagination.slides-pagination
            .col-lg-4.offset-lg-1.col-md-6.offset-md-3.col-sm-8.offset-sm-2
                .banner.text-uppercase
                  +img('content/banners/banner-1.jpg','img-cover')
                  .banner__inner
                    .banner__title.banner__title_colored.banner__title_sm Запись на шиномонтаж онлайн
                    a.btn.text-uppercase(href="#") Записаться

        .tabs.mb-5
            ul.tabs__nav.nav.nav-tabs(role="tablist")
                li.tabs__nav-item.flex-grow-1.nav-item
                    a.tabs__nav-link.nav-link.active(href="#links-tires" data-toggle="tab" role="tab" aria-controls="links-tires" aria-selected="true")
                        svg.tabs__nav-icon
                            use(xlink:href="#icon-tires")
                        span.tabs__nav-title.text-uppercase шины
                li.tabs__nav-item.flex-grow-1.nav-item
                    a.tabs__nav-link.nav-link(href="#links-wheels" data-toggle="tab" role="tab" aria-controls="links-wheels" aria-selected="false")
                        svg.tabs__nav-icon
                            use(xlink:href="#icon-wheels")
                        span.tabs__nav-title.text-uppercase диски
            .tabs__content.tab-content
                .tab-pane.fade.show.active(id="links-tires" role="tabpanel" action="#")
                    .row
                        .col-lg-10.offset-lg-1.text-center.text-lg-left
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-1.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-4.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-5.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-1.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-4.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-5.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            .text-center
                                a.readmore(href="#") Показать еще
                .tab-pane.fade(id="links-wheels" role="tabpanel" action="#")
                    .row
                        .col-lg-10.offset-lg-1.text-center.text-lg-left
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-1.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-4.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-5.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-4.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-5.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-1.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-2.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            a.d-inline-block.mr-3.mb-4(href="#")
                                img.img-fluid(src="../img/content/logo/logo-3.jpg" alt="" title="")
                            .text-center
                                a.readmore(href="#") Показать еще

        include category/popular.pug

        .section.mb-3
            .section__title Рекомендуем так же:
            include category/carousel.pug

        .section.row
            .col-lg-9
                .section__wrapper.section__wrapper_offset
                    .section__title Новости
                    .row
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-1.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Работа на майские праздники 2021
                                    .media__date 23.10.2021
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-2.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Выходные Дини с 29 марта до 5 апреля
                                    .media__date 23.10.2021
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-3.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Открытие шинного центра ДонШина Ростов-на-Дону.
                                    .media__date 23.10.2021
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-4.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Открытие шинного центра ДонШина Ростов-на-Дону.
                                    .media__date 23.10.2021
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-5.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Рассрочка на шины и диски!
                                    .media__date 23.10.2021
                        .col-md-6
                            .media.mb-4
                                a.media__picture.mr-2(href="#")
                                    img.img-fluid(src="../img/content/media/media-6.jpg" alt="" title="")
                                .media__meta.flex-grow-1
                                    a.media__title.d-block.mb-2(href="#") Открытие шинного центра ДонШина Ростов-на-Дону.
                                    .media__date 23.10.2021
                    .text-center
                        a.readmore(href="#") Узнать больше новостей
            .col-lg-3.ml-lg-0.col-md-6.offset-md-3.col-sm-8.offset-sm-2
                .banner
                    img.img-cover(src="../img/content/banners/banner-2.jpg" alt="" title="")
                    .banner__inner.banner__inner_offset
                        .banner__title Подбор запчастей по VIN-коду
                        a.btn.text-uppercase(href="#") Подобрать

        .section
            .section__wrapper
                .row
                    .col-lg-4.col-sm-10.offset-sm-1.d-flex.flex-column
                        .section__title.pr-lg-5 Интернет-магазин резины, авто шин и дисков в Ростове-на-Дону
                        .row.flex-grow-1
                            .col-xl-6.col-lg-8.col-md-6.d-flex.flex-column.justify-content-around.h-100
                              .feature.mb-5.mb-lg-4
                                .feature__value.font-weight-bold.color-brand 10
                                  span.h1 лет
                                .h4 на рынке продаж шин дисков и автотоваров.
                              .feature.mb-5.mb-lg-0
                                .feature__value.font-weight-bold.color-brand &gt;2000
                                .h4 качественных товаров в каталоге сайта.
                    .col-lg-6.ml-lg-0.col-sm-10.offset-sm-1
                      .content
                        p В нашем интернет-магазине шин и дисков Don-Shina.ru (Дон Шина) представлен большой выбор зимней и летней резины ведущих мировых производителей. Надежные и проверенные шины Nokian (Нокиан), Goodyear, зимние и летние шины Michelin, недорогая резина Continental, Yokohama, Gislaved, Kleber, BF Goodrich, а также автомобильные покрышки отечественных производителей по низким ценам. Купить летние и зимние шины в Ростове можно по низким ценам. Кроме того, в ассортименте присутствуют диски и шины грузовые и для внедорожников. Шины в Таганроге. Шины Шахты. Шины в Новочеркасске.
                        p Кроме летних и зимних шин разных размеров, у нас можно купить литые диски, кованые, штампованные на авто: Lenso, Enkei, Slik, ВСМПО, литые диски LS Replica (Реплика), KOSEI, KFZ, Futek, Теч-лайн, хромированные литые диски Futek, а также осуществляем хранение шин и литых дисков на авто всех размеров. Если вы захотите купить диски (автомобильные) на сумму 50000 руб и более, то мы предоставим вам бесплатную доставку. На нашем сайте вы можете воспользоваться удобным подбором шин и дисков по марке автомобиля, а также заказать шины на Дом. В магазине автомобильных шин и дисков ДонШина цены ниже рыночных.
                      .text-lg-left.text-center
                        a.readmore(href="#") Узнать больше о компании
