extends personal

block meta
  - var title = 'Подбор по VIN-коду';

block personal
  .h2.font-weight-bold.text-center.mb-4 #{title}
  .section.pb-0.mb-5
    .border-bottom.px-lg-5.px-md-4.px-3.pb-md-4.pb-3.mb-3
      .h3.font-weight-bold.mb-3.color-theme-brand По вашему запросу был осуществен подбор запчастей (WAUBH54B11N111054):
      a.section__row(href="#") Передняя ступица для использования с 14"/15" тормозной системой,POC J67/JQ3/JQ4
      a.section__row(href="#") Передняя ступица для использования с 14"/15" тормозной системой,POC J67/JQ3/JQ4
      a.section__row(href="#") Передняя ступица для использования с 14"/15" тормозной системой,POC J67/JQ3/JQ4
    .px-lg-5.px-md-4.px-3.pb-3
      .row.align-items-center
        .col-xl-7
          .h6.color-theme-disabled После оформления заказа с вами свяжется наш менеджер для уточнения деталей.
        .col-xl-5.d-flex.justify-content-xl-end
          button.btn.text-uppercase(type="button") Оформить заказ
