extends personal

block meta
  - var title = 'Данные пользователя';

block personal
  .h2.font-weight-bold.text-center.mb-4 #{title}
  form.section.pb-0.mb-5(action="#")
    .border-bottom.px-lg-5.px-md-4.px-3.pb-md-4.pb-3.mb-4
      .h3.font-weight-bold.color-theme-brand Подробно заполненные персональные данные сделают работу с сайтом удобнее и быстрее:
    .border-bottom.px-lg-5.px-md-4.px-3.mb-3
      .row
        .col-md-5
          .form__item.active.mb-4
            input.form__field(type="text" value="Сергей")
            .form__label.form__label_title Имя
          .form__item.active.mb-4
            input.form__field(type="text" value="+7 (989) 726-18-85")
            .form__label.form__label_title Телефон
          .form__item.active.mb-4
            input.form__field(type="text" value="glumglam@gmail.com")
            .form__label.form__label_title e-mail
        .col-md-5.offset-md-2
          .form__item.active.mb-4
            input.form__field(type="text" value="г. Ростов-на-Дону")
            .form__label.form__label_title Город / населённый пункт
          .form__item.active.mb-4
            input.form__field(type="text" value="пр. Королева")
            .form__label.form__label_title Улица
          .form__item.active.mb-4
            input.form__field(type="text" value="21")
            .form__label.form__label_title Дом
    .px-lg-5.px-md-4.px-3.pb-3
      .d-flex.justify-content-md-end.justify-content-center
        button.btn.text-uppercase.px-sm-5.px-3(type="submit") сохранить изменения
