extends base

block meta
  - var title = 'Личный кабинет';

block filter
  .togglebar
    button.aside-toggler.flex-grow-1.justify-content-center.px-3.py-2(type="button" data-target="#leftmenu")
      +icon('filter', 'aside-toggler__icon h3 mr-2')
      span.pointer-events-none
        span.aside-toggler__show Показать&nbsp;
        span.aside-toggler__hide Скрыть&nbsp;
        | меню

block wrapper
  .wrapper
    ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Главная
          meta(itemprop="position" content="1")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__current(href="#" itemprop="item")
            span(itemprop="name") #{title}
            meta(itemprop="position" content="2")
    section.content
      h1(itemprop="name") Личный кабинет
    .row.align-items-start
      #leftmenu.aside.aside_pos_fixed.aside_pos_sticky.col-xl-3.col-lg-4.mb-lg-4
        .aside__wrapper
          nav.leftmenu
            - var leftmenu = [{title: 'Мои заказы', icon: 'case', badge: 'bg-theme-blue', badge__text: '2'}, {title: 'Избранное', icon: 'favourite', badge: 'bg-theme-success', badge__text: '3'}, {title: 'Бонусные рубли', icon: 'gift', badge: 'bg-theme-success', badge__text: '300', badge__extratext: true}, {title: 'Запись на услуги', icon: 'services'},{title: 'Подбор по VIN', icon: 'settings', badge: 'bg-theme-success', badge__text: '1'}, {title: 'Персональные данные', icon: 'user'},{title: 'Мой автомобиль', icon: 'car'}, {title: 'Смена пароля', icon: 'shield'},{title: 'Выход', icon: 'exit'}]
            each leftmenu__item in leftmenu
              +leftmenu(leftmenu__item.title, leftmenu__item.icon, leftmenu__item.badge, leftmenu__item.badge__text, leftmenu__item.badge__extratext)

      .col-xl-9.col-lg-8
        block personal

    .mb-3
      .h2.font-weight-bold.mb-4 Ранее просмотренные товары:
      include category/carousel.pug
