extends base

block meta
  - var title = 'Личный кабинет';

block filter
  .header__footer
    button.filter-toggler(type="button")
      svg.filter-toggler__icon.mr-2
        use(xlink:href="#icon-filter")
      span.filter-toggler__title
        span.filter-toggler__show Показать
        span.filter-toggler__hide Скрыть
        | меню

block wrapper
  .wrapper
    nav.pathway
      a.pathway__link(href="#") Главная
      a.pathway__current(href="#") #{title}
    section.content
      h1 #{title}
    .row.align-items-start
      .col-xl-3.col-lg-4.mb-lg-4
        .filter.filter_sticky
          .filter__body
            nav.leftmenu
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-case")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Мои заказы
                span.leftmenu__badge.h5.text-nowrap.color-white.bg-brand.px-2 2
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-favourite")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Избранное
                span.leftmenu__badge.h5.text-nowrap.color-white.bg-success.px-2 3
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-gift")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Бонусные рубли
                span.leftmenu__badge.h5.text-nowrap.color-white.bg-success.px-2 300
                  span.leftmenu__badge-text Б.₽.
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-tool")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Запись на услуги
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-settings")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Подбор по VIN
                span.leftmenu__badge.h5.text-nowrap.color-white.bg-success.px-2 1
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-user")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Персональные данные
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-car")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Мой автомобиль
              a.leftmenu__item.d-flex.align-items-center.h4.active(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-shield")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Смена пароля
              a.leftmenu__item.d-flex.align-items-center.h4(href="#")
                svg.leftmenu__item-icon.color-brand.mr-2
                  use(xlink:href="#icon-exit")
                span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2 Выход
      .col-xl-9.col-lg-8
        block personal

    .section.mb-3
      .section__title Ранее просмотренные товары:
      include category/carousel.pug
