extends base

block meta
  - var title = 'Результаты поиска по сайту';
  - var h1 = 'Поиск по запросу «Нокиан»';

block filter
  .togglebar
    button.aside-toggler.flex-grow-1.justify-content-center.px-3.py-2(type="button" data-target="#filter")
      +icon('filter', 'aside-toggler__icon h3 mr-2')
      span.pointer-events-none
        span.aside-toggler__show Показать&nbsp;
        span.aside-toggler__hide Скрыть&nbsp;
        | фильтр

block wrapper
  .wrapper
    ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Главная
          meta(itemprop="position" content="1")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__link(href="#" itemprop="item")
          span(itemprop="name") Шины
          meta(itemprop="position" content="2")
      li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.pathway__current(href="#" itemprop="item")
          span(itemprop="name") Шины R18
          meta(itemprop="position" content="3")
    section.content
      h1(itemprop="name") #{h1}
    block results__filter
      - var resultsRadio = [{index: 1, title: 'Шины (887)', checked: true}, {index: 2, title: 'Мотошины (0)'}, {index: 3, title: 'Диски (67)'}, {index: 4, title: 'АКБ (0)'}, {index: 5, title: 'Масла (0)'}, {index: 6, title: 'Автотовары (238)'}]
      .category-counter.mb-4 1 840 товаров в 4 каталогах
      form.form.mb-3(action="#")
        a.toggler.toggler_lg.active(href="#") Активный
        each resultsRadio__item in resultsRadio
          a.toggler.toggler_lg(href="#")!= resultsRadio__item.title
    .row
      .col-xl-2.col-lg-3.mb-lg-4
        block results__sidebar
          include base/filter-tires.pug
      .col-xl-10.col-lg-9.mb-4
        include base/results-form.pug

        block results__wrapper
          - var results = [{price__old: '', price__new: '', title: 'Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL', label: 'sale', warranty: false, credit: false, card: false, delivery: false, repair: true, winter: false, spikes: false}, {price__old: '12 337.12', price__new: '', title: 'Зимние шины Yokohama Ice Guard IG55', label: '', warranty: false, credit: false, card: false, delivery: false, repair: false, winter: true, spikes: true}, {price__old: '12 337.12', price__new: '', title: 'Зимние шины Yokohama Ice Guard IG55', label: 'discount', warranty: true, credit: true, card: false, delivery: false, repair: false, winter: false, spikes: false},{price__old: '', price__new: '', title: 'Зимние шины Yokohama Ice Guard IG55 215/55', label: 'hit', warranty: false, credit: false, card: false, delivery: true, repair: true, winter: false, spikes: false}, {price__old: '', price__new: '', title: 'Зимние шины Yokohama Ice', label: '', warranty: false, credit: false, card: false, delivery: false, repair: false, winter: true, spikes: true},{price__old: '', price__new: '14 000', title: 'Шины Yokohama Ice Guard IG55 215/55 R17 98T', label: '', warranty: false, credit: false, card: false, delivery: false, repair: false, winter: false, spikes: false}]
          .category.mb-3
            +card('','','Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T','sale',false,false,true,false,false,false,false,true,'card_tile d-sm-flex')
            +card('15 000','','Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL','discount',true,true,false,false,false,false,false,true,'card_tile d-sm-flex')
            +banner('content/banners/banner-5.jpg',false,'d-none d-sm-block')
            +card('','','Зимние шины Yokohama Ice Guard IG55 215/55','hit',false,false,false,true,true,false,false,true,'card_tile d-sm-flex')
            +card('','','Зимние шины Yokohama Ice','',false,false,false,false,false,true,true,true,'card_tile d-sm-flex')
            +banner('content/banners/banner-6.jpg',true,'d-none d-sm-block')
            each results__item in results
              +card(results__item.price__old,results__item.price__new,results__item.title,results__item.label,results__item.warranty,results__item.credit,results__item.card,results__item.delivery,results__item.repair,results__item.winter,results__item.spikes,true,'card_tile d-sm-flex')
        nav.pagination
          a.pagination__item.pagination__item_prev(href="#")
            +icon('readmore-right','h3 color-theme-brand')
          span.pagination__item.pagination__item_current 1
          a.pagination__item(href="#") 2
          a.pagination__item(href="#") 3
          a.pagination__item(href="#") 4
          span.pagination__item.pagination__item_divider ...
          a.pagination__item(href="#") 57
          a.pagination__item.pagination__item_next(href="#")
            +icon('readmore-right','h3 color-theme-brand')

    block results__seealso
      .mb-3
        .h2.font-weight-bold.mb-4 Подходящие диски:
        include category/wheels.pug

    include category/popular.pug

    block results__recommended
      .mb-3
        .h2.font-weight-bold.mb-4 Рекомендуем так же:
        include category/carousel.pug

    include base/links.pug

    .content.content_expanded.mb-5(itemprop="text")
      include base/content.pug
      .content__footer
        button.readmore.readmore_btn(type="button")
          +icon('readmore','h2 color-theme-brand')
