extends base

block meta
  - var title = 'Результаты поиска по сайту';

block filter
  .header__footer
    button.filter-toggler(type="button")
      svg.filter-toggler__icon
        use(xlink:href="#icon-filter")
      span.filter-toggler__title
        span.filter-toggler__show Показать 
        span.filter-toggler__hide Скрыть 
        | фильтр

block wrapper
    .container.container_wrapper
      nav.pathway
        a.pathway__link(href="#") Главная
        a.pathway__link(href="#") Шины
        a.pathway__current(href="#") Шины R18
      section.content
        h1 Поиск по запросу «Нокиан»
      .category-counter 1 840 товаров в 4 каталогах
      form.form.mb-3(action="#")
        input.form__toggler.form__toggler_radio(id="search-radio-1" name="search-radio" type="radio" value="" checked)
        label.form__label.form__label_lg(for="search-radio-1") Шины (887)
        input.form__toggler.form__toggler_radio(id="search-radio-2" name="search-radio" type="radio" value="")
        label.form__label.form__label_lg(for="search-radio-2") Мотошины (0)
        input.form__toggler.form__toggler_radio(id="search-radio-3" name="search-radio" type="radio" value="")
        label.form__label.form__label_lg(for="search-radio-3") Диски (67)
        input.form__toggler.form__toggler_radio(id="search-radio-4" name="search-radio" type="radio" value="")
        label.form__label.form__label_lg(for="search-radio-4") АКБ (0)
        input.form__toggler.form__toggler_radio(id="search-radio-5" name="search-radio" type="radio" value="")
        label.form__label.form__label_lg(for="search-radio-5") Масла (0)
        input.form__toggler.form__toggler_radio(id="search-radio-6" name="search-radio" type="radio" value="")
        label.form__label.form__label_lg(for="search-radio-6") Автотовары (238)
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          include base/filter-tires.pug

        .col-xl-10.col-lg-9.mb-4
          include base/results-form.pug
          .category.mb-3
            include tile/sale.pug
            include tile/discount.pug
            include tile/banner3.pug
            include tile/hit.pug
            include tile/plain.pug
            include tile/banner4.pug
            include tile/sale.pug
            include tile/plain.pug
            include tile/discount.pug
            include tile/hit.pug
            include tile/plain.pug
            include tile/plain.pug
          nav.pagination
            a.pagination__nav.pagination__nav_prev(href="#")
            span.pagination__item.pagination__item_current 1
            a.pagination__item(href="#") 2
            a.pagination__item(href="#") 3
            a.pagination__item(href="#") 4
            span.pagination__item.pagination__item_divider ...
            a.pagination__item(href="#") 57
            a.pagination__nav.pagination__nav_next(href="#")

      .section.mb-3
        .section__title Подходящие диски:
        include category/wheels.pug

      include category/popular.pug

      .section.mb-3
        .section__title Рекомендуем так же:
        include category/carousel.pug

      include base/links.pug

      .section
        .content.content_expanded
          include base/content.pug
          .content__footer
            button.readmore.readmore_btn.readmore_arrow-down(type="button")