extends base

block meta
  - var title = 'Страница услуги';

block wrapper
  .promo.mb-5
    .promo__picture.text-right.zi-1
      +img('content/services/services-top-1.jpg','img-cover d-none d-lg-block')
      +img('content/services/services-top-1-mobile.jpg','img-cover d-block d-lg-none')
    .wrapper.zi-2
      .promo__wrapper.d-flex.flex-column.justify-content-between.py-lg-5.py-md-4.py-3
        .promo__content.mb-3
          ul.pathway(itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a.pathway__link(href="#" itemprop="item")
                span(itemprop="name") Главная
                meta(itemprop="position" content="1")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a.pathway__link(href="#" itemprop="item")
                span(itemprop="name") Услуги
                meta(itemprop="position" content="2")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a.pathway__current(href="#" itemprop="item")
                span(itemprop="name") Шиномонтаж
                meta(itemprop="position" content="3")
          section.content
            h1(itemprop="name") Шиномонтаж в Ростове-на-Дону
            .h4 Хватит стоять в очередях,
              br
              | запишитесь прямо сейчас:
        .promo__footer
          button.button.text-uppercase(type="button") Записаться онлайн

  .wrapper
    .section.px-lg-0.px-3.mb-5
      .px-lg-5.px-md-4
        .h2.font-weight-bold.text-center.mb-4 Почему лучше обращаться к профессионалам?
        .h4.mb-4 В межсезонье, когда приходит пора менять комплект шин, остро встает вопрос, где это лучше сделать, что бы не стоять больщую очередь. И В такой ситуации мало кто задумывается о качестве работ, а ведь это основной момент. Именно от качества шиномонтажа зависит сразу несколько моментов:
        .slides.slides_features.swiper-container.px-0
          .slides__nav.slides__nav_row
            button.slides__btn.slides__btn_prev.slides-features-prev(type="button")
              +icon('arrow-prev')
            button.slides__btn.slides__btn_prev.slides-features-next(type="button")
              +icon('arrow-next')
          .swiper-wrapper
            .swiper-slide.px-3
              .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mb-3
                +icon('scales')
              p Уменьшение срока службы подвески. Неточная или не качественная балансировка может привести к поломке всей ходовой. При некачественной балансировке, неверно выбранный груз или неверном его креплении на диске в процессе эксплуатации груз может слететь.
            .swiper-slide.px-3
              .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mb-3
                +icon('target')
              p Неравномерная изношенность покрышек. При неверной балансировке износ шин происходит намного быстрее, что может привести не только к преждевременной замены покрышки, но и к возникновению аварийной ситуации на дороге.
            .swiper-slide.px-3
              .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mb-3
                +icon('attention')
              p Безопасность на дороге. Дороже этого ничего быть не может. Сэкономленные 2 часа на смену комплекта шин у непрофессионалов не стоят Вашей безопасности и безопасности Ваших близких.

    .section.section_divider.px-lg-0.px-3.mb-5
      .px-lg-5.px-md-4.d-flex.flex-wrap
        .col-xl-4.col-lg-5.px-0
          .section__picture.section__picture_left.text-center.mx-0
            +img('content/services/services-1.jpg')
        .col-lg-6.offset-xl-1.px-0
          .content
            p Все работы осуществляют только квалифицированные специалисты, прошедшие профессионально-техническое обучение.
            p У нас вы можете произвести полный комплекс услуг профессионального шиномонтажа: монтаж-демонтаж легковых шин, шин для внедорожников и микроавтобусов, балансировку и ремонт колес, шиномонтаж мотошин.
            p Все шиномонтажные работы выполняются на новейшем высококачественном немецком оборудовании фирмы Hofmann, а стоимость услуг вас приятно удивит.
          .h3.color-theme-blue.font-weight-bold.mb-2 Получить более подробную информацию
            br
            | или записаться вы можете по телефону:
          .contacts
            a.contacts__item.h3.font-weight-bold.text-nowrap.color-theme-blue(href="tel:+73652777068")
              +icon('phone','contacts__icon h3 color-theme-blue mr-2')
              span.contacts__item-title +7 (863) 22-99-99-4
    .mb-3
      .h2.font-weight-bold.mb-4 Отзывы
      .slides.slides_reviews.swiper-container.pt-1.pb-4.px-0.mx-0
        +slidesNav('slides-reviews-prev', 'slides-reviews-next')
        .swiper-wrapper
          .swiper-slide
            .review.review_slide.h-100.p-3
              .review__header.d-flex.align-items-center.mb-3
                .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mr-3
                  +icon('emoji')
                .review__meta.flex-grow-1
                  .review__title.d-block.h4.color-theme-blue Анатолий Ефимов
                  .date 10 дек в 11:37
              .review__content.h5 Был 10 декабря, отличный сервис. Сам ещё приеду и всем друзьям посоветую. Мастеру большой репект! Мне очень понравилось, советую ВСЕМ!!!
          .swiper-slide
            .review.review_slide.h-100.p-3
              .review__header.d-flex.align-items-center.mb-3
                .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mr-3
                  +icon('emoji')
                .review__meta.flex-grow-1
                  .review__title.d-block.h4.color-theme-blue Павел Антипин
                  .date 10 дек в 11:37
              .review__content.h5 Друг присоветовал этот салон. Приехал, не пожалел. Ребята, сервис шикарный! И доступно, и оперативно, и без проблем. Теперь сам работаю сарафанным радио и друзьям советую!
          .swiper-slide
            .review.review_slide.h-100.p-3
              .review__header.d-flex.align-items-center.mb-3
                .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mr-3
                  +icon('emoji')
                .review__meta.flex-grow-1
                  .review__title.d-block.h4.color-theme-blue Костя Боярский
                  .date 10 дек в 11:37
              .review__content.h5 Терпеть не могу сам лезть менять! Считаю, что лучше обратиться к спецам, чем возиться. В последний раз обращался сюда, сервис очень понравился. Думаю, дальше тоже буду кататься к Вашему мастеру!
          .swiper-slide
            .review.review_slide.h-100.p-3
              .review__header.d-flex.align-items-center.mb-3
                .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mr-3
                  +icon('emoji')
                .review__meta.flex-grow-1
                  .review__title.d-block.h4.color-theme-blue Иван Трактиров
                  .date 10 дек в 11:37
              .review__content.h5 Приезжал сюда ставить шины на зимний сезон. Вот и масло решил приехать менять сюда же. Мастера отличные, работают быстро и качественно. Рекомендую всем!
          .swiper-slide
            .review.review_slide.h-100.p-3
              .review__header.d-flex.align-items-center.mb-3
                .icon-rounded.h2.d-flex.align-items-center.justify-content-center.color-theme-blue.bg-theme-light.mr-3
                  +icon('emoji')
                .review__meta.flex-grow-1
                  .review__title.d-block.h4.color-theme-blue Анатолий Ефимов
                  .date 10 дек в 11:37
              .review__content.h5 Был 10 декабря, отличный сервис. Сам ещё приеду и всем друзьям посоветую. Мастеру большой репект! Мне очень понравилось, советую ВСЕМ!!!
  .wrapper
    .mb-3
      .h2.font-weight-bold.mb-4 Как мы работаем

  .slides.slides_carousel.swiper-container.pt-1.pb-4.px-0.mx-0.mb-3
    .swiper-wrapper
      .swiper-slide
        +img('content/carousel/item-1.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-2.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-3.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-4.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-1.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-2.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-3.jpg','img-fluid border-radius')
      .swiper-slide
        +img('content/carousel/item-4.jpg','img-fluid border-radius')
  .d-flex.justify-content-center.mb-5
    a.readmore.d-flex.align-items-center(href="#")
      span.h5.mr-2 Узнать больше о компании
      +icon('readmore-right','h3 color-theme-blue')

  .wrapper
    include base/callorder.pug

    .content.content_expanded.mb-5(itemprop="text")
      include base/content.pug
      .content__footer
        button.readmore.readmore_btn(type="button")
          +icon('readmore','h2 color-theme-blue')
