extends base

block meta
  - var title = 'Подкатегория каталога (серия бренда шин)';

block filter
  .header__footer
    button.filter-toggler.d-flex.align-items-center.justify-content-center.p-2(type="button")
      +icon('filter','filter-toggler__icon h4 mr-2')
      span.filter-toggler__title
        span.filter-toggler__show Показать
        span.filter-toggler__hide Скрыть
        | фильтр

block wrapper
    .wrapper
      nav.pathway
        a.pathway__link(href="#") Главная
        a.pathway__link(href="#") Шины
        a.pathway__current(href="#") Шины R18
      section.content
        h1 Купить шины CORDIANT в Ростове-на-Дону
      .category-counter.mb-4 1 840 товаров
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          +brand('Cordiant', 'brand_category d-flex flex-column align-items-center justify-lg-content-center justify-content-between bg-white py-2 py-lg-3 px-3 mb-3', 'd-inline-block')
          include base/filter-tires.pug

        .col-xl-10.col-lg-9.mb-4
          form.form.row.justify-content-end.mb-4(action="#")
            .col-xl-3.col-md-4.col-sm-7
              .form__select
                select.form__select-options
                  option По умолчанию
                  option По возрастанию цены
                  option По убыванию цены
                  option По популярности
            .col-xl-1.col-md-2.col-sm-5.d-none.d-sm-flex.align-items-center.justify-content-end
              button.form__view.mr-3(type="button")
                +icon('list')
              button.form__view.active(type="button")
                +icon('tile')
          .category.mb-3
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug
            include tile/category.pug

      include category/popular.pug

      .mb-3
        .h2.font-weight-bold.mb-4 Рекомендуем так же:
        include category/carousel.pug

      include base/links.pug

      .content.content_expanded.mb-5
        include base/content.pug
        .content__footer
          button.readmore.readmore_btn(type="button")
            +icon('readmore','h2 color-theme-brand')
