extends base

block meta
  - var title = 'Подкатегория каталога (серия бренда шин)';

block filter
  .header__footer
    button.filter-toggler.d-flex.align-items-center.justify-content-center.p-2(type="button")
      +icon('filter','filter-toggler__icon h4 mr-2')
      span.filter-toggler__title
        span.filter-toggler__show Показать
        span.filter-toggler__hide Скрыть
        | фильтр

block wrapper
    .wrapper
      nav.pathway
        a.pathway__link(href="#") Главная
        a.pathway__link(href="#") Шины
        a.pathway__link(href="#") Cordiant
        a.pathway__current(href="#") Cordiant 2
      section.content
        h1 Шины CORDIANT Comfort 2 в Ростове-на-Дону
      .category-counter.mb-4 1 840 товаров
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          +brand('Cordiant', 'brand_category d-flex flex-column align-items-center justify-lg-content-center justify-content-between bg-white py-2 py-lg-3 px-3 mb-3', 'd-inline-block')
          include base/filter-tires.pug

        .col-xl-10.col-lg-9.mb-4
          include base/results-form.pug
          .mb-3
            .heading.heading_category.px-3
              .heading__col.heading__col_category-group.h6.mb-2 Диаметр
              .heading__col.heading__col_category-width.h6.mb-2 Ширина
              .heading__col.heading__col_category-height.h6.mb-2 Высота
              .heading__col.heading__col_category-type.h6.mb-2 Сезон
              .heading__col.heading__col_category-title.h6.mb-2 Название
              .heading__col.heading__col_category-price.h6.mb-2 Цена
              .heading__col.heading__col_category-stock.h6.mb-2 Наличие
            .table-row.table-row_category.mb-md-2.mb-3
              .table-row__col.table-row__col_group.d-flex.flex-md-column.align-items-center.align-items-md-start.justify-content-md-center.px-3.mb-2.mb-md-0
                .h6.d-md-none.mr-2 Диаметр:
                .h2.font-weight-bold 18”
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              .table-row__col.table-row__col_group.d-flex.flex-md-column.align-items-center.align-items-md-start.justify-content-md-center.px-3.mb-2.mb-md-0
                .h6.d-md-none.mr-2 Диаметр:
                .h2.font-weight-bold 17”
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              .table-row__col.table-row__col_group.d-flex.flex-md-column.align-items-center.align-items-md-start.justify-content-md-center.px-3.mb-2.mb-md-0
                .h6.d-md-none.mr-2 Диаметр:
                .h2.font-weight-bold 16”
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              .table-row__col.table-row__col_group.d-flex.flex-md-column.align-items-center.align-items-md-start.justify-content-md-center.px-3.mb-2.mb-md-0
                .h6.d-md-none.mr-2 Диаметр:
                .h2.font-weight-bold 15”
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug
            .table-row.table-row_category.mb-md-2.mb-3
              include base/row.pug

    .box-shadow.pt-4.pb-3.mb-5
      .wrapper
        .h2.font-weight-bold.mb-4 Другие бренды:
        - var logoWheels = ['content/logo/logo-1.jpg','content/logo/logo-2.jpg','content/logo/logo-3.jpg','content/logo/logo-4.jpg','content/logo/logo-5.jpg','content/logo/logo-2.jpg','content/logo/logo-3.jpg','content/logo/logo-1.jpg','content/logo/logo-2.jpg','content/logo/logo-3.jpg','content/logo/logo-4.jpg','content/logo/logo-5.jpg','content/logo/logo-2.jpg','content/logo/logo-3.jpg']
        each logoWheels__item in logoWheels
          a.d-inline-block.mr-2.mr-sm-3.mb-4(href="#")
            +img(logoWheels__item)

    .wrapper
      .mb-3
        .h2.font-weight-bold.mb-4 Подходящие диски:
        include category/wheels.pug

      include category/popular.pug

      .mb-3
        .h2.font-weight-bold.mb-4 Рекомендуем так же:
        include category/carousel.pug

      include base/links.pug

      .content.content_expanded.mb-5
        include base/content.pug
        .content__footer
          button.readmore.readmore_btn(type="button")
            +icon('readmore','h2 color-theme-brand')
