extends base

block meta
  - var title = 'Подкатегория каталога (серия бренда шин)';

block filter
  .header__footer
    button.filter-toggler.d-flex.align-items-center.justify-content-center.p-2(type="button")
      svg.filter-toggler__icon.mr-2
        use(xlink:href="#icon-filter")
      span.filter-toggler__title
        span.filter-toggler__show Показать
        span.filter-toggler__hide Скрыть
        | фильтр

block wrapper
    .wrapper
      nav.pathway
        a.pathway__link(href="#") Главная
        a.pathway__link(href="#") Шины
        a.pathway__link(href="#") Cordiant
        a.pathway__current(href="#") Cordiant 2
      section.content
        h1 Шины CORDIANT Comfort 2 в Ростове-на-Дону
      .category-counter.mb-4 1 840 товаров
      .row
        .col-xl-2.col-lg-3.mb-lg-4
          +brand('Cordiant', 'brand_category d-flex flex-column align-items-center justify-lg-content-center justify-content-between bg-white py-2 py-lg-3 px-3 mb-3', 'd-inline-block')
          include base/filter-tires.pug

        .col-xl-10.col-lg-9.mb-4
          include base/results-form.pug
          .mb-3
            .heading.d-flex.align-items-center.h6.mb-2
              .heading__col.d-block.overflow-hidden Диаметр
              .heading__col.d-block.overflow-hidden Ширина
              .heading__col.d-block.overflow-hidden Высота
              .heading__col.d-block.overflow-hidden Сезон
              .heading__col.heading__col_lg.d-block.overflow-hidden Название
              .heading__col.d-block.overflow-hidden Цена
              .heading__col.d-block.overflow-hidden Наличие
            .card-row
              .card-row__left
                .card-row__param 18”
              .card-row__right
                include tile/row.pug
            .card-row
              .card-row__left
                .card-row__param 17”
              .card-row__right
                include tile/row.pug
            .card-row
              .card-row__left
                .card-row__param 16”
              .card-row__right
                include tile/row.pug
                include tile/row.pug
                include tile/row.pug
                include tile/row.pug
            .card-row
              .card-row__left
                .card-row__param 15”
              .card-row__right
                include tile/row.pug
                include tile/row.pug
                include tile/row.pug
            .card-row
              .card-row__left
                .card-row__param 14”
              .card-row__right
                include tile/row.pug
                include tile/row.pug
                include tile/row.pug
            .card-row
              .card-row__left
                .card-row__param 13”
              .card-row__right
                include tile/row.pug
                include tile/row.pug

      .section.mb-3
        .section__title Подходящие диски:
        include category/wheels.pug

      include category/popular.pug

      .section.mb-3
        .section__title Рекомендуем так же:
        include category/carousel.pug

      .section
        .section__wrapper.section__wrapper_px
          .mb-3
            .h3.font-weight-bold.mb-3 Сезон
            a.toggler(href="#") Летняя
            a.toggler(href="#") Зимняя
            a.toggler(href="#") Всесезонная
            a.toggler(href="#") Летняя
            a.toggler(href="#") Зимняя
            a.toggler(href="#") Всесезонная
          .mb-3
            .h3.font-weight-bold.mb-3 Тип
            a.toggler(href="#") Легковые
            a.toggler(href="#") Для микроавтобуса
            a.toggler(href="#") Для микроавтобуса
          .h3.font-weight-bold.mb-3 Диаметр
          a.toggler(href="#") 13
          a.toggler(href="#") 14
          a.toggler(href="#") 14С
          a.toggler(href="#") 15
          a.toggler(href="#") 15С
          a.toggler(href="#") 16
          a.toggler(href="#") 16С
          a.toggler(href="#") 17
          a.toggler(href="#") 18
          a.toggler(href="#") 13
          a.toggler(href="#") 14
          a.toggler(href="#") 14С
          a.toggler(href="#") 15
          a.toggler(href="#") 15С
          a.toggler(href="#") 16
          a.toggler(href="#") 16С
          a.toggler(href="#") 17
          a.toggler(href="#") 18

      .section
        .content.content_expanded
          include base/content.pug
          .content__footer
            button.readmore.readmore_btn.readmore_arrow-down(type="button")
