extends base

block meta
  - var title = 'Подкатегория каталога (автотовары)';

block filter
  .header__footer.header__footer_row
    button.filter-btn.align-items-center.flex-grow-1.p-2(type="button" data-toggle="filter" data-target="#detail")
      +icon('detail','filter-btn__icon h3 mr-2')
      span.filter-btn__title.text-nowrap
        span.filter-btn__show Все автотовары
        span.filter-btn__hide Скрыть все автотовары
    button.filter-btn.align-items-center.p-2(type="button" data-toggle="filter" data-target="#filter")
      +icon('filter','filter-btn__icon h3 mr-2')
      span.filter-btn__title.filter-btn__title_invisible.text-nowrap
        span.filter-btn__show Показать&nbsp;
        span.filter-btn__hide Скрыть&nbsp;
        | фильтр
    button.filter-btn.align-items-center.p-2(type="button" data-toggle="filter" data-target="#settings")
      +icon('settings','filter-btn__icon h3 mr-2')
      span.filter-btn__title.filter-btn__title_invisible.text-nowrap Подобрать по VIN

block wrapper
  .wrapper
    nav.pathway
      a.pathway__link(href="#") Главная
      a.pathway__link(href="#") Автотовары
      a.pathway__current(href="#") Авточехлы
    section.content
      h1 Авточехлы
    .category-counter.mb-4 1 840 товаров
    .row
      .col-xl-2.col-lg-3.mb-lg-4
        include base/filter-details.pug
      .col-xl-10.col-lg-9.mb-4
        #detail.filter.filter_extend.filter_sticky
        #settings.filter.filter_extend.filter_sticky
          .filter__body
            .section.section_filter.bg-theme-white.py-0.mb-lg-3
              .section__expander.d-flex.align-items-center.justify-content-between.cursor-pointer.px-md-4.px-3.py-2
                button.btn.btn_nobg.h4.p-0(type="button")
                  +icon('settings','color-theme-brand h3 mr-2')
                  span.color-theme-brand Подобрать по VIN
                span.section__readmore.readmore.d-none.d-lg-block.color-theme-brand
                  +icon('readmore','h3')
              form.section__body.section__body_visible(action="#")
                .form.border-bottom.px-md-4.px-3.pt-md-4.pt-3
                  .row
                    .col-md-5.d-flex.flex-column.justify-content-between
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title VIN-код *
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Марка авто *
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Год выпуска
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Объём двигателя
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Мощность
                    .col-md-5.offset-md-2.d-flex.flex-column.justify-content-between
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Модель двигателя
                      .form__item.mb-4
                        input.form__field(type="text" value="")
                        .form__label.form__label_title Номер двигателя
                      .form__item.mb-4
                        textarea.form__field.form__field_textarea
                        .form__label.form__label_title Cписок необходимых запчастей *
                .px-md-4.px-3.py-3
                  .row.align-items-center
                    .col-xl-7.mb-3.mb-xl-0
                      .h6.color-theme-disabled *-поля обязательные для заполнения
                    .col-xl-5.d-flex.justify-content-xl-end
                      button.btn.text-uppercase.px-5(type="submit") Отправить запрос
        form.form.mb-3(action="#")
          .row.justify-content-end
            .col-xl-2.col-md-3.order-3.order-md-2
              .form__select
                select.form__select-options
                  option Сортировать
                  option По умолчанию
                  option По возрастанию цены
                  option По убыванию цены
                  option По популярности
            .col-xl-1.col-md-2.col-4.d-none.d-sm-flex.align-items-center.justify-content-end.order-2.order-md-3.mb-3.mb-md-0
              button.form__view.mr-3(type="button")
                +icon('list')
              button.form__view.active(type="button")
                +icon('tile')
        .heading.heading_subcategory.px-3
          .heading__col.heading__col_subcategory-title.h6.mb-2 Название
          .heading__col.heading__col_subcategory-article.h6.mb-2 Артикул
          .heading__col.heading__col_subcategory-price.h6.mb-2 Цена
          .heading__col.heading__col_subcategory-quantity.h6.mb-2 Наличие
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-brand mr-2')
                  .bubble__picture.box-shadow.border.border-radius
                    +img('content/cards/pirelli.jpg','img-cover border-radius zi-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-brand mr-2')
                  .bubble__picture.box-shadow.border.border-radius
                    +img('content/cards/pirelli.jpg','img-cover border-radius zi-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-brand mr-2')
                  .bubble__picture.box-shadow.border.border-radius
                    +img('content/cards/pirelli.jpg','img-cover border-radius zi-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-brand mr-2')
                  .bubble__picture.box-shadow.border.border-radius
                    +img('content/cards/pirelli.jpg','img-cover border-radius zi-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-brand mr-2')
                  .bubble__picture.box-shadow.border.border-radius
                    +img('content/cards/pirelli.jpg','img-cover border-radius zi-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-disabled mr-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину
        form.table-row(action="#")
          .table-row__header.table-row__header_subcategory.box-shadow.border-radius.p-3.mb-md-2.mb-3
            .table-row__col.table-row__col_subcategory-title.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .d-flex.align-items-center
                .bubble.bubble_pos_abs
                  +icon('photo','h2 color-theme-disabled mr-2')
                a.h5(href="#") Ароматизатор подвесной CONTEX SEX QUEEN (слад. цветоч. лепестк.)
            .table-row__col.table-row__col_subcategory-article.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Артикул:
                | 34635635
            .table-row__col.table-row__col_subcategory-price.d-md-flex.flex-column.align-items-start.justify-content-center.mb-1.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Цена:
                | 100 ₽
            .table-row__col.table-row__col_subcategory-quantity.d-md-flex.flex-column.align-items-start.justify-content-center.mb-3.mb-md-0
              .h5.d-flex.align-items-center
                .mr-3.d-block.d-md-none Наличие:
                | 3 шт.
            .table-row__col.table-row__col_subcategory-btn.d-flex.align-items-center
              .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
                input.recalculate__field.d-none(type="number" name="count" value="4")
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
                .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
                button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
              .text-center.text-md-left
                button.btn.text-uppercase.px-3(type="submit") В корзину

    //- include category/popular.pug

    //- .mb-3
      .h2.font-weight-bold.mb-4 Рекомендуем так же:
      include category/wheels.pug

    //- include base/links.pug

    //- .content.content_expanded.mb-5
      include base/content.pug
      .content__footer
        button.readmore.readmore_btn(type="button")
          +icon('readmore','h2 color-theme-brand')
