extends base

block meta
  - var title = 'Элементы интерфейса';

block header

block wrapper
  .py-4.px-5
    .content
      h1 Н1 Noto Sans Bold 36pt / line height 110%
      h2 Н2 Noto Sans Bold 24pt
      h3 Н3 Noto Sans Bold 18pt
      h4 H4 Noto Sans Regular 16pt
      h5 SimpleText Noto Sans Regular 14pt
      h6 SmallText Noto Sans Regular 12pt
      p В нашем интернет-магазине шин и дисков Don-Shina.ru (Дон Шина) представлен большой выбор зимней и летней резины ведущих мировых производителей. Надежные и проверенные шины Nokian (Нокиан), Goodyear, зимние и летние шины Michelin, недорогая резина Continental, Yokohama, Gislaved, Kleber, BF Goodrich, а также автомобильные покрышки отечественных производителей по низким ценам. Купить летние и зимние шины в Ростове можно по низким ценам. Кроме того, в ассортименте присутствуют диски и шины грузовые и для внедорожников. Шины в Таганроге. Шины Шахты. Шины в Новочеркасске.

block footer
