extends base

block meta
  - var title = 'Иконки';

block header
  .header.d-none

block wrapper
  .d-flex.flex-wrap.p-3
    .col-md-3
      .d-flex.flex-column
        .h2.font-weight-bold.mb-2 SVG
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('close')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('allseason')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('arrow-left')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('arrow-next')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('arrow-prev')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('arrow-right')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('attention')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('battery')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('car')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('card')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('cart')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('case')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('checked')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('compare')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('credit')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('delivery')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('dropdown')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('email')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('emoji')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('exit')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('eye')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('facebook-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('facebook')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('favourite')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('filter')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('founding')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('gift')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('instagram-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('instagram')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('iron')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('list')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('logo')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('menu')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('moto')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('nonspikes')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('oil')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('phone')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('phone-nobg')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('placemark')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('plane')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('readmore')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('readmore-reversed')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('repair')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('scales')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('search')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('settings')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('shield')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('spikes')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('steel')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('summer')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('target')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('tg-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('tg')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('tile')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('time')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('tires')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('trash')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('user')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('vk-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('vk')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('wapp-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('wapp')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('wheels')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('winter')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('youtube-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('youtube')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('edit')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('share')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('continue')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('close-noborder')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('desc')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('notify')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('points')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('reviews')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('view')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('wallet')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('zoom')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('phonehandset')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('checked-double')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('readmore-right')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('photo')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('detail')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-tires')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-store')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-aircond')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-wheel-rolled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-wheel-painted')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('services-vin')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('twitter-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('twitter')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('drive2-filled')
        .d-inline-block.pr-5.mb-1(style="width:80px;height:80px;")
          +svg('drive2')
    .col-md-3
      .d-flex.flex-column
        .h2.font-weight-bold.mb-2 Шрифт
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-close
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-allseason
            span.path1
            span.path2
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-arrow-left
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-arrow-next
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-arrow-prev
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-arrow-right
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-attention
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-battery
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-car
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-card
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-cart
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-case
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-checked
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-compare
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-credit
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-delivery
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-dropdown
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-email
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-emoji
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-exit
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-eye
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-facebook-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-facebook
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-favourite
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-filter
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-founding
            span.path1
            span.path2
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-gift
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-instagram-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-instagram
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-iron
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-list
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-logo
            span.path1
            span.path2
            span.path3
            span.path4
            span.path5
            span.path6
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-menu
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-moto
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-nonspikes
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-oil
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-phone
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-phone-nobg
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-placemark
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-plane
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-readmore
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-readmore-reversed
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-repair
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-scales
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-search
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-settings
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-shield
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-spikes
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-steel
            span.path1
            span.path2
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-summer
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-target
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-tg-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-tg
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-tile
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-time
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-tires
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-trash
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-user
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-vk-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-vk
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-wapp-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-wapp
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-wheels
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-winter
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-youtube-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-youtube
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-edit
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-share
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-continue
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-close-noborder
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-desc
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-notify
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-points
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-reviews
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-view
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-wallet
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-zoom
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-phonehandset
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-checked-double
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-readmore-right
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-photo
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-detail
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-tires
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-store
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-aircond
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-wheel-rolled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-wheel-painted
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-services-vin
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-twitter-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-twitter
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-drive2-filled
        .d-flex.flex-column.justify-content-center.pr-5.mb-1(style="width:80px;height:80px;")
          span.h1.ds-icon-drive2

block footer
