//- удалить
.card.card_column.card_slide
  .card__header
    a.card__picture(href="#")
      img.img-fluid(src="../img/content/cards/card-1.jpg" alt="" title="")
    .card__meta.card__meta_left
    .card__meta.card__meta_right
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-compare")
        span.card__btn-title Сравнить
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-favourite")
        span.card__btn-title Добавить в избранное
    .card__meta.card__meta_row
      .card__features
        .icon-marker.mr-2
          svg.icon-fluid
            use(xlink:href="#icon-winter")
        .icon-marker
          svg.icon-fluid
            use(xlink:href="#icon-spikes")
      .card__params 215 / 55  R16
  .card__body
    .card__intro
      a.card__title(href="#") Зимние шины Yokohama Ice
    .card__footer
      .card__meta.card__meta_row
        .card__price
          span.card__price-value 7 337.12 
          | ₽
        .card__price.card__price_old 12 337.12 ₽
      .d-flex.align-items-center.justify-content-between
        .recalculate
          input.recalculate__field(type="number" name="count" value="4")
          button.recalculate__btn.recalculate__btn_remove(type="button") -
          .recalculate__value 4
          button.recalculate__btn.recalculate__btn_add(type="button") +
        a.btn(href="#") В корзину