.card.card_column.card_slide
  .card__header
    a.card__picture(href="#")
      img.img-fluid(src="../img/content/cards/card-1.jpg" alt="" title="")
    .card__meta.card__meta_left
    .card__meta.card__meta_right
    .card__meta.card__meta_row
      .card__features
        .icon-marker.mr-2
          svg.icon-fluid
            use(xlink:href="#icon-winter")
        .icon-marker
          svg.icon-fluid
            use(xlink:href="#icon-spikes")
      .card__params 215 / 55  R16
  .card__body.mb-4
    .card__intro
      a.card__title(href="#") Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL
    .card__footer
      .card__meta.card__meta_row
        .card__price
          span.card__price-value 7 337.12 
          | ₽
        .card__price.card__price_old 12 337.12 ₽
      .d-flex.align-items-center.justify-content-between
        .recalculate
          input.recalculate__field(type="number" name="count" value="4")
          button.recalculate__btn.recalculate__btn_remove(type="button") -
          .recalculate__value 4
          button.recalculate__btn.recalculate__btn_add(type="button") +
        a.btn(href="#") В корзину
  .params
    .params__row
      .params__title Ширина
      .params__value 185
    .params__row
      .params__title Высота
      .params__value 55
    .params__row
      .params__title Диаметр
      .params__value 16
    .params__row
      .params__title Сезон
      .params__value Зима
    .params__row
      .params__title Производитель
      .params__value Yokohama
    .params__row
      .params__title Модель
      .params__value Ice Guard IG55
    .params__row
      .params__title Типоразмер
      .params__value 215 / 55  R16
    .params__row
      .params__title Индекс нагрузки
      .params__value 102 (850 кг)