.card.card_sm.card_slide
  .card__header
    a.card__picture(href="#")
      img.img-fluid(src="../img/content/cards/card-1.jpg" alt="" title="")
    .card__meta.card__meta_left
    .card__meta.card__meta_right
    .card__meta.card__meta_row
      .card__features
        .icon-marker.mr-2
          svg.icon-fluid
            use(xlink:href="#icon-winter")
        .icon-marker
          svg.icon-fluid
            use(xlink:href="#icon-spikes")
      .card__params.flex-grow-1.text-right.color-theme-brand 215 / 55  R16
  .card__body.d-flex.flex-column.justify-content-between.flex-grow-1.mb-4
    .card__intro
      a.card__title.d-block(href="#") Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL
    .card__footer
      .card__meta.card__meta_row
        .card__price
          span.card__price-value 7 337.12
          | ₽
        .card__price.card__price_old 12 337.12 ₽
      .d-flex.align-items-center.justify-content-between
        .recalculate
          input.recalculate__field.d-none(type="number" name="count" value="4")
          button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
          .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
          button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
        a.btn.text-uppercase(href="#") В корзину
  .params.h6
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Ширина
      .params__value.h5 185
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Высота
      .params__value.h5 55
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Диаметр
      .params__value.h5 16
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Сезон
      .params__value.h5 Зима
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Производитель
      .params__value.h5 Yokohama
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Модель
      .params__value.h5 Ice Guard IG55
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Типоразмер
      .params__value.h5 215 / 55  R16
    .params__row.d-flex.flex-column.justify-content-end
      .params__title.color-theme-disabled Индекс нагрузки
      .params__value.h5 102 (850 кг)
