.card.card_column.card_tile
  .card__header
    a.card__picture(href="#")
      img.img-fluid(src="../img/content/cards/card-2.jpg" alt="" title="")
    .card__meta.card__meta_left
      .card__label.card__label_hit хит
      .card__features.card__features_col 
        .card__features-item
          .card__features-content.bg-success
            .d-flex.align-items-center.pointer-events-none
              span.card__features-icon.bg-success
                svg.icon-fluid
                  use(xlink:href="#icon-repair")
              span.card__features-title.bg-success Бесплатный шиномотаж
            .card__features-text
              p Акция действует при покупке комплекта шин за наличные (от 4 шт.)
              p При наличии на Доватора 11
            a.card__features-readmore(href="#") Подробнее
        .card__features-item
          span.card__features-icon
            svg.icon-fluid
              use(xlink:href="#icon-delivery")
          span.card__features-title Бесплатная доставка
    .card__meta.card__meta_right
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-compare")
        span.card__btn-title Сравнить
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-favourite")
        span.card__btn-title Добавить в избранное
    .card__meta.card__meta_row
      .card__params 215 / 55  R16
  .card__body
    .card__intro
      a.card__title(href="#") Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL
    .card__footer
      .card__meta.card__meta_row
        .card__price
          span.card__price-value 7 337.12 
          | ₽
      .d-flex.align-items-center.justify-content-between.mb-sm-3
        .recalculate
          input.recalculate__field(type="number" name="count" value="4")
          button.recalculate__btn.recalculate__btn_remove(type="button") -
          .recalculate__value 4
          button.recalculate__btn.recalculate__btn_add(type="button") +
        a.btn(href="#") В корзину
      button.card__btn.card__btn_link.w-100(type="button")
        span.card__btn-icon
          svg.icon-fluid
            use(xlink:href="#icon-plane")
        | Купить в один клик