//- удалить
.card.card_column.card_banner
    .banner.banner_noshadow
        img.img-cover(src="../img/content/banners/banner-6.jpg" alt="" title="")
        .banner__inner
            .banner__title.banner__title_colored.banner__title_xs Запись на шиномонтаж онлайн
            a.btn(href="#") Записаться