.card.card_sm.card_tile
  .card__header
    a.card__picture.mb-0(href="#")
      img.img-fluid(src="../img/content/cards/card-1.jpg" alt="" title="")
  .card__body.d-flex.flex-column.justify-content-between.flex-grow-1.card__body_lg
    .card__intro
      .card__meta.card__meta_col.mb-3
        .card__features.mb-2.mb-sm-0
          .icon-marker.mr-2
            svg.icon-fluid
              use(xlink:href="#icon-summer")
        .card__params.flex-grow-1.text-right.color-theme-brand.text-left.text-sm-right R16 / R17 / R18 / R19
      a.card__title.d-block(href="#") CORDIANT Sport 3
  .card__footer
    .card__meta.card__meta_row.justify-content-center.justify-content-sm-start
      .card__price
        span.card__price-value от 7 337.12
        | ₽/шт.
