.card.card_row.mb-2
  .card__col 175
  .card__col 70
  .card__col 
    .card__meta.card__meta_row.mb-0
      .card__features
        .icon-marker.mr-2
          svg.icon-fluid
            use(xlink:href="#icon-summer")
  .card__col.card__col_lg
    a.card__title.card__title_sm.mb-0(href="#") Летние шины Cordiant Comfort 2 175/70 R13 86H
  .card__col
    .card__price.card__price_sm 7 337.12 ₽
  .card__col много
  .card__col.card__col_footer
    .d-flex.align-items-center.justify-content-between
      .recalculate
        input.recalculate__field(type="number" name="count" value="4")
        button.recalculate__btn.recalculate__btn_remove(type="button") -
        .recalculate__value 4
        button.recalculate__btn.recalculate__btn_add(type="button") +
      a.btn(href="#") В корзину