.card.card_column.card_tile
  .card__header
    a.card__picture(href="#")
      img.img-fluid(src="../img/content/cards/card-1.jpg" alt="" title="")
    .card__meta.card__meta_left
      .card__label.card__label_sale Акция
      .card__features.card__features_col
        .card__features-item
          span.card__features-icon.bg-warning
            svg.icon-fluid
              use(xlink:href="#icon-card")
          span.card__features-title.bg-warning Топливная карта
    .card__meta.card__meta_right
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-compare")
        span.card__btn-title Сравнить
      button.card__btn.card__btn_icon(type="button")
        svg.card__btn-icon
          use(xlink:href="#icon-favourite")
        span.card__btn-title Добавить в избранное
    .card__meta.card__meta_row
      .card__params 215 / 55  R16
  .card__body
    .card__intro
      a.card__title(href="#") Зимние шины Yokohama Ice Guard IG55 215/55 R17 98T XL
    .card__footer
      .card__meta.card__meta_row
        .card__price
          span.card__price-value 7 337.12 
          | ₽
        .card__price.card__price_old 12 337.12 ₽
      .d-flex.align-items-center.justify-content-between.mb-sm-3
        .recalculate
          input.recalculate__field(type="number" name="count" value="4")
          button.recalculate__btn.recalculate__btn_remove(type="button") -
          .recalculate__value 4
          button.recalculate__btn.recalculate__btn_add(type="button") +
        a.btn(href="#") В корзину
      button.card__btn.card__btn_link.w-100(type="button")
        span.card__btn-icon
          svg.icon-fluid
            use(xlink:href="#icon-plane")
        | Купить в один клик